
#profile-details {

}

/* Profile Page Image */
#profile-details .profile-img {
    position: relative;
    transition: 0.5s;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#profile-details .profile-img > img{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 100%;
    position: relative;
    background: black;
}

#profile-info-list {
    /* width: 100%; */
    /* max-width: 500px; */
    text-align: left;
    font-size: 80%;
}

#profile-info-list p {
    margin: 5px 0px;
}

.profile-img {
    width: 100px;
    height: 100px;
    margin: 25px;
}

.subscription {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 80%;
    padding: 0px 25px;
}

.subscription div:first-of-type {
    text-align: left;
    padding: 10px 0px;
    margin-right: 25px;
}

.subscription h4 {width: auto; margin: 0;}

.subscription button {
    margin: 0;
}

.profile-img:hover {
    cursor: pointer;
}

.profile-img.placeholder:hover::before {
    opacity: 1.0;
}

.profile-img.placeholder::before {
    content: "Upload profile image";
    position: absolute;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* font-family:courier; */
    color:white;
    z-index: 2;
    opacity: 0.7;
    transition: 0.5s;
  }