---
---
<!DOCTYPE html>
<html lang=en>
<head>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel=icon href=/assets/favicon.ico>
    <title>Brain@Play | Contribute</title>
</head>
<body>
<div id=app>
    <!--Navbar-->
    {% include nav.html %}

    <section class="fullscreen">
        <div class="full-center">
            <h2><strong>Contribute</strong></h2>

            <p>Brains@Play is looking for <strong>neuroethicists, neuroscientists, and neural engineers</strong>
                (PhD candidates welcome!) to facilitate 1-hour breakout discussions during <a href="about/projects/livewire" class="link">Livewire: A Stimulating Night of Neurotechnology.</a></p>

            <button onclick="window.location.href='http://eepurl.com/ha1i79'">Sign Up as a Facilitator</button>
        </div>
    </section>

    <!--Footer-->
        {% include footer.html %}


</div>

</body>
</html>
