---
---
<!DOCTYPE html>
<html lang=en>
<head>
    {% include meta.html %}
    <title>Brains@Play | Games</title>

    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script src="/js/site.js" type="text/javascript" defer></script>
    <script type="text/javascript" src="/docs/src/Brain.js"></script>
    <script type="text/javascript" src="/docs/src/nBrains.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

</head>
<body>
<noscript>
    <strong>We're sorry but Brains@Play doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
    <!--Navbar-->
    {% include nav.html %}

    <!--Content-->
    {% include login.html %}

    {% include rubric.html %}


    <div id="games-header" class="header">
        <h2>Brains and Games</h2>
        <h4>Competition Submissions</h4>

        <div class="button-nav flex-center">
            <button onclick="window.location.href='/competition'" rel="noopener">Submit Your Game Idea</button>
            <button onclick="toggleLoginScreen();" rel="noopener">Rate Submissions</button>
        </div>
    </div>
    <div>
        <nav id="game-nav">
<!--            <div id="available-option" class="game-option selected" onclick="switchToAvailableGames()">-->
<!--                <p>Available Games</p>-->
<!--            </div>-->
            <div id="submitted-option" class="game-option">
                <p>Games</p>
            </div>
            <!--      <div class="game-option-unavailable">-->
            <!--        <p>BCI Entertainment Database</p>-->
            <!--      </div>-->
        </nav>
        <div id="game-display">
<!--            <div id="available">-->
<!--                <div id="game-gallery" class="gallery">-->
<!--                    <a id="brainstorm" class="game" onclick="window.location.href='/api/examples/brainstorm'" style="background-image: url('api/examples/brainstorm/brainstorm.png')">-->
<!--                        <div class="game-text">-->
<!--                            <h3>Brainstorm</h3>-->
<!--                            <i class="small">Brains@Play</i>-->
<!--                            <p>Couple minds across social, cultural, and political boundaries.</p>-->
<!--                        </div>-->
<!--                        <div class="game-mask"></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
            <div id="submitted">
                <section id="game" style="display:none;"></section>
                <section id="temp-message" class="flex-center flex">Loading games...</section>
                <button id="back" style="display:none;">
                    Back to Submitted Games
                </button>
                <div id="submitted-game-gallery" class="gallery"></div>
            </div>
        </div>
    </div>


    {% include footer.html %}

<script>

    let switched = false;
    let state = 'available'
    // let url = "http://localhost"
    let url = "https://brainsatplay.azurewebsites.net/"
    let filter = 'approved'
    let jsonOBJ = {get: 'all', 'filter':filter}
    let submittedGamesJSON;
    let currentGame;
    document.getElementById('submitted-option').style.display = 'block'
    document.getElementById('submitted-option').className = 'game-option selected'

    // Initialize Login Variables
    let showLogin=false;
    let showSignUp=false;
    let brains = new BrainsAtPlay();

    // Get Available Submissions
    fetch(url + '/getsubmissions', {
        method: 'POST',
        mode: 'cors', // no-cors, cors, *same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'omit', // include, *same-origin, omit
        headers: {
            'Content-Type': 'application/json',
        },
        redirect: 'follow', // manual, *follow, error
        referrer: 'no-referrer', // no-referrer, *client
        body: JSON.stringify(jsonOBJ), // body data type must match "Content-Type" header
    }).then(response => {
        response.json().then(function (json) {
            submittedGamesJSON = json;
            // document.getElementById('submitted-option').addEventListener('click', function() {switchToSubmittedGames()});
            if (json.error){
                $('#game').prepend('<h3>' + json.error + '</h3>')
                document.getElementById('game').style.display = "block"
            } else {
                switchToSubmittedGames()
            }
        })
    })
</script>
</body>
</html>


