---
---
<!DOCTYPE html>
<html lang=en>
<head>
    {% include meta.html %}
    <title>Brains@Play | Home</title>

    <link rel=icon href=assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

</head>
<body>
<noscript>
    <strong>We're sorry but Brains@Play doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id=app>

    <!--Navbar-->
    {% include nav.html %}

    <!--Content-->
    <div>
        <div>
            <div id= "hero1" class="hero header">
                <img src="/assets/brand/logo_and_sub.png">
                    <div class="button-nav flex-center">
                        <button onclick="window.location.href='/competition'" style="width: 100%" rel="noopener">Brains and Games Competition</button>
                        <button onclick="window.location.href='/games'" style="min-width: 40%" rel="noopener">Explore Submitted Games</button>
                        <button onclick="window.location.href='/docs'" style="min-width: 40%" rel="noopener">Develop with Us</button>
                    </div>
            </div>
        </div>


    {% include footer.html %}


</div>
</body>
</html>


