---
---
<!DOCTYPE html>
<html lang=en>
<head>
    {% include meta.html %}
    <title>Brains@Play | Home</title>

    <link rel=icon href=assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

</head>
<body>
<noscript>
    <strong>We're sorry but Brains@Play doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id=app>

    <!--Navbar-->
    {% include nav.html %}

    <!--Content-->
    <div>
        <div>
            <div id= "hero1" class="hero">
                <section class="hero-content" style="text-align: center;">
                    <h1>Brains@Play</h1>
                    <H3>Brain-Responsive Multiplayer Experiences</H3>
                    <p>Brains@Play enables the responsible development of brain-responsive multiplayer experiences. </p>
                    <p>Explore, create, and share BCI games on the web!
                    </p>
                    <div class="button-nav flex-center">
                        <button onclick="window.location.href='/games'" rel="noopener" style="width: 940px">View Games</button>
                        <button onclick="window.location.href='/about'" rel="noopener">Read More</button>
                        <button onclick="window.location.href='/api'" rel="noopener">Develop with Us</button>
                        <button onclick="window.location.href='/competition'" rel="noopener">Submit a Game Idea</button>
                    </div>
                </section>
            </div>
        </div>


    {% include footer.html %}


</div>
</body>
</html>


