---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <title>Judging | Brains@Play</title>
    <link rel=icon href=assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="/js/competition.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brainsatplay@0.0.1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
<!--Navbar-->
{% include nav.html %}

<!--Content-->
<div class="fullscreen" style="padding: 100px;">
    <div style="text-align: center;">
    <h3>Judging for the 2021 Brains and Games Competition has now closed.</h3>
    <p class="small">View the results <a href="/competition/results" class="text">here</a>.</p>
    </div>
</div>
<!--{% include login.html %}-->
<!--<div id="submitted" style="min-height: calc(100vh - 75px)">-->
<!--    <div id="submitted-content-container">-->
<!--        <div id="game" style="display:none;"></div>-->
<!--        <div id="submitted-game-gallery" class="gallery"></div>-->
<!--    </div>-->
<!--    <div id="games-actions">-->
<!--        {% include rubric.html %}-->
<!--        <button id="back" style="display:none;">-->
<!--            Back to Submissions-->
<!--        </button>-->
<!--    </div>-->
<!--</div>-->
</body>

<script>
    // Initialize Login Variables
    let showLogin=false;
    let showSignUp=false;
    let currentGame;
    let currentCategory;
    let allGames = [];
    let completedSubmissions = [];
    let state = 'submitted'
    document.getElementById('goBack').style.display = 'none';
    toggleLoginScreen()
</script>

<script>
    let game = new brainsatplay.Game();
</script>

</html>
