---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel=icon href=/assets/favicons/favicon.ico>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Rules | Brains@Play</title>
</head>
<body>

<!--Navbar-->
{% include nav.html %}

<section class="fullscreen">
    <div>
    <h2><strong>Rules</strong></h2>

    <p>Welcome to Brains@Play!</p>

    <p>These policies outline acceptable behavior on our services.</p>

    <i>Coming soon...</i>
    </div>
</section>

<!--Footer-->
    {% include footer.html %}



</body>
</html>
