/*App and Nav*/
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: black;
    font-family: Lato, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: hidden;
    font-size: 15px;
}

h1{
    font-size: 50px;
    font-weight: normal;
    margin: 10px 0px 0px 0px;
}

h2{
    font-size: 40px;
    font-weight: normal;
    margin: 10px 0px 0px 0px;
}

h3{
    font-size: 25px;
    font-weight: normal;
}

h4{
    font-size: 20px;
    font-weight: normal;
}

h5{
    margin:0px
}

svg {
    flex: none;
    fill: lightgrey;
    transition: .5s;
    width: 20px;
    margin: 10px;
}

p {
    font-family: Roboto, sans-serif;
}

div {
    display: block;
}

#app {
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

button {
    width: 200px;
    min-height: 50px;
    cursor: pointer;
    color: whitesmoke;
    font-family : inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    margin: 0px 20px 20px 0px;
    border: 1px solid whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;}

button:hover{
    color: #FF76E9;
    border-color: #FF76E9;
}

.flex {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* App Nav */
.logo {
    color: white;
    text-decoration: none;
}

.logo:visited {
    color: white;
}

.menu {
    height: 100%;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    z-index:2;
}

#app-menu{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
}


.menu img{
    padding: 20px 0px 10px 0px;
    cursor: pointer;
}

.menu p{
    font-size: 10px;
}

.user-info{
    padding: 20px 25px;
    justify-content: flex-start;
    align-items: flex-start;
}


#menu-toggle{
    left: 200px;
}

#parameters{
    position: fixed; width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    top: -250px; left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: top 0.5s ease-in-out;
    -o-transition: top 0.5s ease-in-out;
    -ms-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    -webkit-transition: top 0.5s ease-in-out;
}

#parameters button{
    margin: 0px;
}

#parameters div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    margin: 20px 10px;
}

#parameters select{
    background: transparent;
    color: white;
    border: none;
}

#app-menu:hover{
    left: 0px;
}

#param-toggle{
    top: 200px;
}

#parameters:hover{
    top: 0;
}

#parameters:hover #param-toggle {
    opacity: 0;
}

#app-menu:hover #menu-toggle {
    opacity: 0;
}

#chat:hover #chat-toggle {
    opacity: 0;
}



.toggle {
    position: absolute;
    background: transparent;
    transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

.toggle .icon:hover{
    background: transparent;
}

.icon{
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.icon:hover{
    background: #16151A;
}
.icon .selected {
    background: #16151A;
}

button i {
    margin-right: 20px;
}

.icon p{
    margin-left: 10px;
}

.icon a:visited{
    color: white;
}

.menuicon{
    padding: 20px 25px;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Brainstorm */
#brainstorm h1{
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}

#brainstorm p {
    font-family: Roboto, sans-serif;
}

.bound{
    width: 200px;
}

#synchrony-div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 200px;
    text-align: left;
}

#synchrony-div div {
    border: 2px solid white;
    height: 50px;
    width: 50px;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

#chat-button{
    margin: 20px;
}


/* .slider {
    -webkit-appearance: none;
    width: 200px;
    height: 25px;
    background: transparent;
    overflow: hidden;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .5s;
    transition: opacity .5s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    box-shadow: -100vw 0 0 100vw #7373FF;
    background: #7373FF;
    cursor: pointer;
    transition: .5s;
}

.slider::-webkit-slider-thumb:hover {
    box-shadow: -100vw 0 0 100vw #FF76E9;
    background: #FF76E9;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #7373FF;
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background: #FF76E9;
} */


/* WebGL UI */
canvas {
    /* background: linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6));; */
    position: fixed;
    right:0;
    top:0;
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#ui-elements {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#visualization-options{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    pointer-events: none;
}

#visualization-options button{
    pointer-events: auto;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
}

#canvas-message{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    font-size: 20px;
    justify-content:center;
    align-items: center;
    text-align: center;
    z-index:1;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#canvas-message div{
    max-width: 500px;
}

.form-container{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.form-container button {
    margin: 10px;
    min-height: 0px;
}

.form-container input::placeholder {
    color: darkgray;
}

.form-context {
    flex-grow: 1;
    max-width: 500px;
}

#login{
    /* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    width: 75%;
    font-size: 20px;
    text-align: center;
    z-index:1;
}

.login-element{
    margin:20px;
}

.login-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.login-buttons button{
    width: 100px;
    margin: 10px;
}

#canvas-message div{
    max-width: 500px;
}


.break{
    flex-basis: 100%;
    height: 0;
}

#developer-tools {
    width: 200px; background: #000000;
    position: fixed; top: 0; left: -200px;
    display: flex; flex-wrap: wrap; justify-content:center;
    align-items: flex-start; z-index:2;
    transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
}

/* Chat */

#chat {width: 300px; background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    position: fixed; top: 0; right: -300px;
    height: 300px;
    z-index:2;

    transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    -ms-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -webkit-transition: right 0.5s ease-in-out;
}

.toggle .icon{
    height: 100px;
    width: 100px;
}

#chat form{
    flex-grow: 1;
    padding: 50px 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

form input {
    width: 100%; height: 100%; padding: 10px 0px; display: flex; align-items: center; justify-content:center; color: white; background:transparent; border: transparent; border-bottom: 1px solid white;
}
input:focus{
    outline: none;
}

#messages {width: 100%; margin: 0; padding: 0px; height: 100%;
    list-style-type: none; text-align: left; overflow: scroll;}
#messages::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#messages {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#messages li { flex-grow: 1; padding: 5px 10px; color: whitesmoke;}
#messages li:nth-child(odd) { background: linear-gradient(rgba(50, 50, 50, 0.6), rgba(50, 50, 50, 0.6))}

.small {
    font-size: 80%;
}

/* Menus */
#info-card{
    display: block;
}


#signaltypes{
    display: block;
}

#bottom-info{
    position: fixed;
    bottom: 0;
    right:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content:center; 
    height: 200px;
    width: 100vw;
    padding: 0px 50px;

    transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#bottom-info .title {
    margin: 0px 10px; 
}

#bottom-info .params button{
    margin: 0;
    width: 100%;
    height: 50px;
    min-height: auto;
    /*font-size: 10px;*/
}

#bottom-info .params {
    width: 100px;
    margin: 0px 10px; 
}

#bottom-info .filler{
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content:center; 
}

#bottom-info .icongrid{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:flex-end;
    width: 100px;
    height: 100px;
    margin: 0px 10px; 
}

.menuicon {
    padding: 10px 10px;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    margin:auto;
}

.info-holder-outer {
    padding: 10px;
    text-align: center;
    pointer-events:all;
}
.info-holder-outer h4 {
    margin: 0px;
}

.info-holder-inner p{
    font-size: 10px;
}

.info-holder-inner {
    padding: 10px;
    border-top: 1px solid white;
    display:flex; 
    margin: 10px 0px 0px 0px;
    height: 100px;
    align-items: center; 
    justify-content: center;
    pointer-events:all;
}

  /* Slider */
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: calc(60px / 2);
    height: calc(34px / 2);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: calc(26px / 2);
    width: calc(26px / 2);
    left: calc(4px / 2);
    bottom: calc(4px / 2);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(calc(26px / 2));
    -ms-transform: translateX(calc(26px / 2));
    transform: translateX(calc(26px / 2));
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #connection-toggle {
    width: 150px;
}

.under-header-info{
    display: flex;
    align-items: center; 
    justify-content:center;
}

  #access-switch{
    margin-left: 10px;
  }
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #info-card {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 250px;
        width: 400px;
        max-width: 100vw;
        padding: 25px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    
        transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }

    #info-card .small{
        font-size: 10px;
    }
    
    #info-card p{
        font-size: 80%
    }
    
    #info-card ol{
        font-size: 80%
    }
    
    #info-card ol p{
        font-size: 100%
    }
    
    #info-card h4{
        margin: 0px;
    }
    
    #info-card a{
        color: #6a8eb0;
        text-decoration: none;
    }
    
    #info-card a:visited{
        color: gray;
    }

    .info-icon {
        position: fixed;
        left: 400px;
        top: 25px;
        transform: translateX(-100%);
        /*margin: 1em;*/
        padding: 1em;
        width: 40px;
        z-index: 1000;
        transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }

    /*.info-icon div {*/
    /*    background-color: #fff;*/
    /*    border-radius: 5px;*/
    /*    content: '';*/
    /*    display: block;*/
    /*    width: 25px;*/
    /*    height: 3px;*/
    /*    margin: 5px 0;*/
    /*    transition: all .5s ease-in-out;*/
    /*}*/

    .arrow {
        border: solid white;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 5px;
        transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    

    #signaltypes {
        display: block;
        position: fixed;
        top: 0;
        right:0;
        width: 200px;
        height: 100vh;
        opacity: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content:flex-start;
        text-align: center;
        z-index: 2;
        transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -webkit-transition: 0.5s ease-in-out;
    }

    #signaltypes button {
        /* height: 10px; */
        width: 100%;
        height: 30px;
        min-height: auto;
        margin: 15px 0px 0px 0px;
        padding: 0;
    }
    
    #signaltypes h4 {
        width: 100%;
        margin: 0px;
    }
    
    #signaltypes p {
        width: 100%;
        margin: 0px;
        margin-top: 10px;
    }

    /* Tooltip container */
    .tooltip {
        position: relative;
        display: block;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 150px;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        color: white;
        text-align: center;
        padding: 10px 10px;
        border-radius: 6px;
        top: 50%;
        right: 105%;
        transform: translateY(-50%);

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    .tooltip .tooltiptext p{
        font-size: 15px;
        margin: 0;
    }

    .tooltip .tooltiptext .small{
        font-size: 80%;
    }

    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%; /* To the right of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent white;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        pointer-events:none;
    }

  }
