---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>Curriculum | Brains@Play</title>
</head>
<body>
<div id=app>

    <!--Navbar-->
    {% include nav.html %}

    <!--Content-->

    <section id="curriculum" class="fullscreen">
        <div>
            <h1><strong>Curriculum</strong></h1>
            <p>Play, games, and the principles that underlie them have an essential role in building critical skills like
    systems thinking, creative problem solving, collaboration, empathy, and innovation. In this course,
    prepare to put your thinking caps on (both literal and metaphorical) and envision multiplayer games
    controlled by the human brain! Through weekly design fiction and game design exercises, students will
    become acquainted with emerging issues at the intersection of neuroscience, ethics, and society-and
    develop submissions to the Brains and Games International Design Fiction Competition on March
    20th, 2021. The only requirement for this course is, naturally, an open mind.</p>
            <br/>

            <h2>
                Module 1: Designing our Minds (Part 1)
            </h2>
            <hr/>
            <p>
                This module introduces the course goals, the Brains and Games International Design Fiction
                Competition, and the history of neurotechnology devices in academic research, clinical practice,
                industry, and the arts.
            </p>
            <br/>

            <h2>
                Module 2: Designing Desirable Futures
            </h2>
            <hr/>
            <p>
                This module introduces Design Fiction as a method for exploring and critically analyzing possible
                futures through designed artifacts. Students start generating ideas for their Brains and Games
                submissions.
            </p>
            <br/>

            <h2>
                Module 3: Designing Delightful Experiences
            </h2>
            <hr/>
            <p>
                This module introduces the basics of Game Design and, in general, User Experience Design. Students
                form teams and begin deliberating over the details of their Brains and Games submissions.
            </p>
            <br/>

            <h2>
                Module 4: Designing Great Pitches
            </h2>
            <hr/>
            <p>
                This module introduces best practices for multimedia presentations, pitch design, and prototype
                development. Student teams draft presentations for their submission content, present these to each
                other, and reflect on needed preparation before submission.
            </p>
            <br/>

            <h2>
                Module 5: Designing Ethical Experiences
            </h2>
            <hr/>
            <p>
                This module introduces Neuroethics and elaborates on emerging ethical, legal, and social issues in
                research, clinical, and commercial neurotechnology. Teams update their submissions/pitches to reflect
                lecture material and present their submission content to each other for critique.
            </p>
            <br/>

            <h2>
                Module 6: Designing Valuable Experiences
            </h2>
            <hr/>
            <p>
                This module introduces the Neurotechnology Industry and the myriad disciplinary backgrounds
                supporting it. Students polish their presentation material before attending the Brains and Games public
                event.
            </p>
            <br/>

            <h2>
                Module 7: Designing Our Minds (Part 2)
            </h2>
            <hr/>
            <p>
                This module encourages students to reflect on their class experience and frame their presention
                materials with a personal narrative about their experience in the class. Students send their final drafts
                to the instructor for class documentation.
            </p>
            <br/>

            <h2>
                Module 8: Beyond Design
            </h2>
            <hr/>
            <p>
                This module provides an open-ended opportunity for students to envision how what they’ve learned in
                Brains at Play can be transferred beyong the class. Students present their collected works at the SI Fair.
            </p>

        </div>
    </section>

    <!--Footer-->
    {% include footer.html %}


</div>

</body>
</html>
