---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <title>Curriculum | Brains@Play</title>
</head>
<body>
<div id=app>

    <!--Navbar-->
    {% include nav.html %}

    <!--Content-->
    <div id="curriculum-header" class="header">
        <h2>Online Course</h2>
        <h4>Brains at Play: Designing the Future of the Mind</h4>
        <div class="button-nav flex-left">
            <button onclick="window.location.href='/curriculum/syllabus.pdf'" rel="noopener" style="height: 60px;">Download the Syllabus<br/></button>
            <button onclick="window.location.href='https://usc.qualtrics.com/jfe/form/SV_1S4rthLT0IHPQBn'" rel="noopener" style="height: 60px;">
                <div>
                <span>Enroll in the Course</span>
                    <br/>
                <span class="small">9th-12th grade only</span>
                </div>
            </button>
        </div>
    </div>

    <section id="curriculum">
            <h2>Course Overview</h2>
            <hr/>
        <h3>Description</h3>
        <p>Play, games, and the principles that underlie them have an essential role in building critical skills like
                systems thinking, creative problem solving, collaboration, empathy, and innovation.</p> <p>In this course,
    prepare to put your thinking caps on (both literal and metaphorical) and envision multiplayer games
    controlled by the human brain! Through weekly design fiction and game design exercises, students will
    become acquainted with emerging issues at the intersection of neuroscience, ethics, and society-and
    develop submissions to the Brains and Games International Design Fiction Competition on March
                20th, 2021.</p>
            <p> The only requirement for this course is, naturally, an open mind.</p>

        <h3>Dates</h3>
        <p>Saturdays: 1/30, 2/6, 2/20, 2/27, 3/6, 3/20, 3/27, 4/3</p>

        <h3>Time</h3>
        <p>12:00pm - 1:20pm PT</p>
            <br/>

            <h2>Slide Deck</h2>
            <hr/>
        <br/>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTmKFqb_R4_zDuBtW7Pjfs3SKUtOsUd8zXutaqT00AdGqd1VhpLwKVkNVtedp9D2IGG13eDAZz_TW9o/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <br/>
        <div id="additional-resources">
        <h2>Additional Resources</h2>
        <hr/>
        <h3>Module One: Designing the Mind</h3>
        <h4>Brainstorm WebBCI Game</h4>
            <a href="https://brainsatplay.com/docs/examples/brainstorm" class="text"><p>https://brainsatplay.com/docs/examples/brainstorm</p></a>
        </div>
    </section>

    <!--Footer-->
    {% include footer.html %}


</div>

</body>
</html>
