<footer id="footer">
<div class="form-cont">
    <form class="input-div form" action="https://mousaineuro.us17.list-manage.com/subscribe/post" method="POST">
        <div class="input-cont">

            <input type="hidden" name="u" value="5dd6754c08218c368ab0c8cd0"/>
            <input type="hidden" name="id" value="d842fccc18"/>
            <input class="email-in" type="email" autoCapitalize="off" autoCorrect="off" name="MERGE0" id="MERGE0"
                   size="25" placeholder="Enter email address for updates"/>
            <button type="submit" class="form-submit" name="submit"><i class="arrow right"></i></button>
        </div>

    </form>
</div>
<div id="footer-links">
    <div id="footer-links1" class="right-footer">
        <p class="footer-text"><a class ='link' href="/about" target="_blank">About</a></p>
        <p class="footer-text"><a class ='link' href="mailto:contact@brainsatplay.com" target="_blank">Contact</a></p>
    </div>
    <div id="footer-links2" class="right-footer">
        <p class="footer-text"><a class ='link' href="./fund" target="_blank">Fund</a></p>
        <!--        <p class ='footer-text'><a class ='link' href="/rules">Rules</a></p>-->
        <p class ='footer-text link unavailable'>Rules</p>
    </div>
    <div id="footer-links3" class="right-footer">
        <p class ='footer-text link unavailable'>Terms</p>
        <p class ='footer-text link unavailable'>Privacy</p>
        <!--        <p class ='footer-text'><a class ='link' href="/terms">Terms</a></p>-->
        <!--        <p class ='footer-text'><a class ='link' href="/privacy">Privacy</a></p>-->
    </div>
</div>
<div class="center-footer">
    {% include social.html %}
    <p class="footer-text center unavailable">© 2021 Brains@Play</p>
</div>
</footer>
