<div>
    <nav id="game-nav">
        <div id="available-option" class="game-option selected" onclick="switchToAvailableGames()">
            <p class="small">Available Games</p>
        </div>
<!--        <div id="submitted-option" class="game-option unavailable">-->
        <div id="submitted-option" class="game-option" onclick="switchToSubmittedGames()">
            <p class="small">Competition Submissions</p>
        </div>
    </nav>
    <div id="game-display">
        <div id="available">
            <div id="game-gallery" class="gallery">
                <a id="template" class="game" onclick="window.location.href='https://brainsatplay.com/template'" style="background-image: url('https://brainsatplay.com/template/header.png')">
                    <div class="game-text">
                        <h3>Brains@Play Template</h3>
                        <i class="small">Brains@Play</i>
                    </div>
                    <div class="game-mask"></div>
                </a>
                <a id="brainstorm" class="game" onclick="window.location.href='https://brainsatplay.com/brainstorm'" style="background-image: url('https://brainsatplay.com/brainstorm/header.png')">
                    <div class="game-text">
                        <h3>Brainstorm</h3>
                        <i class="small">Brains@Play</i>
                    </div>
                    <div class="game-mask"></div>
                </a>
                <a id="brainrunner" class="game" onclick="window.location.href='https://brainsatplay.com/brainrunner'" style="background-image: url('https://brainsatplay.com/brainrunner/header.png')">
                    <div class="game-text">
                        <h3>BrainRunner</h3>
                        <i class="small">Brains@Play | 2021 HackSC Team</i>
                    </div>
                    <div class="game-mask"></div>
                </a>
                <a id="alphabattle" class="game" onclick="window.location.href='https://brainsatplay.com/alphabattle/'" style="background-image: url('https://brainsatplay.com/alphabattle/header.png')">
                    <div class="game-text">
                        <h3>AlphaBattle</h3>
                        <i class="small">Brains@Play | 2021 UW CNT Hackathon Team</i>
                    </div>
                    <div class="game-mask"></div>
                </a>
            </div>
        </div>
        <div id="submitted">
            <div id="game" style="display:none;"></div>
            <div id="submitted-game-gallery" class="gallery"></div>
        </div>
        <button id="back" style="display:none;">
            Back to Submissions
        </button>
    </div>
</div>

<script>

    let state = 'available'
    let currentGame;
    document.getElementById('submitted').style.display = 'none'
    displaySubmissions()

    // Initialize Login Variables
    let showLogin=false;
    let showSignUp=false;
</script>
