<div id="login-container" class="form-container">
    <div id="login" class="form-context">
        <h3>Sign In</h3>
        <p id="login-message" class="small"></p>
        <div class='flex'>
            <form id="login-form" action="">
                <div class="login-element">
                    <input type="text" name="username" autocomplete="off" placeholder="Username"/>
                </div>
                <div class="login-element">
                    <input type="password" name="password" autocomplete="off" placeholder="Password"/>
                </div>
            </form>
        </div>
        <div class="login-buttons">
            <button id="login-button" onclick="login(brains, url,'profile')">Sign In</button>
            <button onclick="toggleLoginScreen(); toggleSignUpScreen()">Sign Up</button>
<!--            <button onclick="login(brains, url,'guest')">Guest Access</button>-->
            <button onclick="toggleLoginScreen();">Go Back</button>
        </div>
    </div>
</div>

<div id="signup-container" class="form-container">
    <div id="signup" class="form-context">
        <h3>Sign Up</h3>
        <p id="signup-message" class="small"></p>
        <div class='flex'>
            <form id="signup-form" action="">
                <div class="login-element">
                    <input type="text" name="username" autocomplete="off" placeholder="Username"/>
                </div>
                <div class="login-element">
                    <input type="password" name="password" autocomplete="off" placeholder="Password"/>
                </div>
                <div class="login-element">
                    <input type="password" name="confirm-password" autocomplete="off" placeholder="Confirm Password"/>
                </div>
            </form>
        </div>
        <div class="login-buttons">
            <button id="signup-button" onclick="signup(brains, url)">Sign Up</button>
            <button onclick="toggleLoginScreen(); toggleSignUpScreen()">Go Back</button>
        </div>
    </div>
</div>
