<div id="login-container" class="form-container">
    <div id="login" class="form-context">
        <h3>Login</h3>
        <p id="login-message" class="small"></p>
        <div class='flex'>
            <form id="login-form" class="form" action="">
                <div class="login-element">
                    <input type="text" name="username" autocomplete="off" placeholder="Username or email"/>
                </div>
                <div class="login-element" style="text-align:right;">
                    <input type="password" name="password" autocomplete="off" placeholder="Password"/>
                    <a class="small text" href="/forgot">Forgot password?</a>
                </div>
            </form>
        </div>
        <div class="login-buttons">

            <button id="login-button" onclick="login('profile')">Log In</button>
            <button class="secondary" onclick="toggleLoginScreen(false); toggleSignUpScreen(true)">Sign Up</button>
            <button id="goBack" class="secondary"  onclick="toggleLoginScreen(false);">Exit</button>
        </div>
    </div>
</div>

<div id="signup-container" class="form-container">
    <div id="signup" class="form-context">
        <h3>Sign Up</h3>
        <p id="signup-message" class="small"></p>
        <div class='flex'>
            <form id="signup-form"  class="form" action="">
                <div class="login-element">
                    <input type="email" name="email" autocomplete="off" placeholder="Email"/>
                </div>
                <div class="login-element">
                    <input type="text" name="username" autocomplete="off" placeholder="Username"/>
                </div>
                <div class="login-element">
                    <input type="password" name="password" autocomplete="off" placeholder="Password"/>
                </div>
                <div class="login-element">
                    <input type="password" name="confirm-password" autocomplete="off" placeholder="Confirm Password"/>
                </div>
                <!-- <div class="login-element">
                    <input type="text" name="code" autocomplete="off" placeholder="Code (optional)"/>
                </div> -->
            </form>
        </div>
        <div class="login-buttons">
            <button id="signup-button" onclick="signup()">Sign Up</button>
            <button class="secondary"  onclick="toggleLoginScreen(true); toggleSignUpScreen(false)">Login</button>
        </div>
    </div>
</div>
