<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta property="og:title" content="Brains@Play - Brain-Responsive Multiplayer Experiences for the Web" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://brainsatplay.com/assets/images/brainsatplay.png" />
<meta property="og:description" content="Brains@Play enables the responsible development of brain-responsive multiplayer experiences. Explore, create, and share BCI games on the web!" />
<meta property="og:url" content="https://brainsatplay.com" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@brainsatplay">
<meta name="twitter:creator" content="@brainsatplay">
<meta name="twitter:domain" content="brainsatplay.com">
<meta name="twitter:title" content="Brainstorm">
<meta name="twitter:url" content="https://brainsatplay.com">
<meta name="twitter:description" content="Brains@Play enables the responsible development of brain-responsive multiplayer experiences. Explore, create, and share BCI games on the web!">
<meta name="twitter:image:src" content="https://brainsatplay.com/assets/images/brainsatplay.png">