<script async src="https://www.googletagmanager.com/gtag/js?id=G-JM1KWWMJE8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JM1KWWMJE8');
</script>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta property="og:title" content="Brains@Play - Neurotechnology with Everyone" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://brainsatplay.com/assets/images/brainsatplay.png" />
<meta property="og:description" content="Brains@Play is developing free and open-source biomedical infrastructure supported by modern web technologies. Everyone has a brain. Let's develop applications accessible to all of them." />
<meta property="og:url" content="https://brainsatplay.com" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@brainsatplay">
<meta name="twitter:creator" content="@brainsatplay">
<meta name="twitter:domain" content="brainsatplay.com">
<meta name="twitter:title" content="Brains@Play - Neurotechology with Everyone">
<meta name="twitter:url" content="https://brainsatplay.com">
<meta name="twitter:description" content="Brains@Play is developing free and open-source biomedical infrastructure supported by modern web technologies. Everyone has a brain. Let's develop applications accessible to all of them.">
<meta name="twitter:image:src" content="https://brainsatplay.com/assets/images/brainsatplay.png">
