<script async src="https://www.googletagmanager.com/gtag/js?id=G-JM1KWWMJE8"></script>

<script>
    // -------------------------- Set Globals --------------------------
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JM1KWWMJE8');


    // Server
    const SERVER_URI = (window.location.hostname != 'brainsatplay.com') ? 'http://localhost:443' : 'https://brainsatplay.azurewebsites.net'
    let STRIPE_PUBLISHABLE_KEY = (window.location.hostname != 'brainsatplay.com') ? `pk_test_51KCSVzKdUIB1gLvUov8Bdg0yWBHhBVsrhus0A7lki0ovAHf5ys6jH29kit5U1T2FqiECAfnHrO5suyzvbOztetaz00nHKgrguQ` : `pk_live_51KCSVzKdUIB1gLvUkXaLJKYanY5OfqmpU3m2KUSkrlvBojlpIZusiOieNEEgdmFkN6ZOIDvvMb1meXsmmATmit6N00l5RLlGiD`

</script>

<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel=icon href=/assets/favicons/favicon.ico>
<meta property="og:title" content="Brains@Play - Neurotechnology with Everyone" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://brainsatplay.com/assets/images/brainsatplay-min.png" />
<meta property="og:description" content="Brains@Play is developing free and open-source biomedical infrastructure supported by modern web technologies. Everyone has a brain. Let's develop applications accessible to all of them." />
<meta property="og:url" content="https://brainsatplay.com" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@brainsatplay">
<meta name="twitter:creator" content="@brainsatplay">
<meta name="twitter:domain" content="brainsatplay.com">
<meta name="twitter:title" content="Brains@Play - Neurotechology with Everyone">
<meta name="twitter:url" content="https://brainsatplay.com">
<meta name="twitter:description" content="Brains@Play is developing free and open-source biomedical infrastructure supported by modern web technologies. Everyone has a brain. Let's develop applications accessible to all of them.">
<meta name="twitter:image:src" content="https://brainsatplay.com/assets/images/brainsatplay-min.png">
