<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

<div id="nav">
    <a href="/" class="logo">
<!--        <strong><h4>Brains@Play</h4></strong>-->
        <img src="/assets/brand/logo.png">
    </a>
</div>
<div id="sideNav" class="sidenav">
<!--    <div id="links" class="stretch">-->
        <div id="navToggle" class="nav-icon">
            <div id="ham-1"></div>
            <div id="ham-2"></div>
            <div id="ham-3"></div>
        </div>
        <a href="/" class="link">Home</a>
        <a href="/about" class="link">About</a>
        <a href="/competition" class="link">Competition</a>
        <a href="/competition" class="link small">Main Page</a>
        <a href="/competition/submissions" class="link small">Submissions</a>
        <a href="/competition/results" class="link small">Results</a>
        <a href="/competition/judges" class="link small">Judges</a>
        <a href="/competition/rules" class="link small">Rules</a>
        <a href="/curriculum" class="link">Curriculum</a>
        <a href="/the-game-from-the-future" class="link">The Game from the Future</a>

    <!--    </div>-->
</div>

<div id="overlay">
</div>


<script>
    function openNav() {
        if (window.innerWidth > 768){
        document.getElementById("sideNav").style.width = "250px";
        } else {
            document.getElementById("sideNav").style.width = "100vw";
            document.getElementById("sideNav").style.padding = "60px 25px";
        }
        document.getElementById("ham-3").style.transform = 'translateY(-7px) translateX(25px) rotate(-135deg)'
        document.getElementById("ham-1").style.transform = 'translateY(7px) translateX(25px) rotate(135deg)'
        document.getElementById("ham-2").style.transform = 'scale(0)'
        document.getElementById("overlay").style.opacity = '0.6'
    }

    function closeNav() {
        document.getElementById("sideNav").style.width = "0";
        document.getElementById("sideNav").style.padding = "60px 0px";
        document.getElementById("ham-3").style.transform = 'translateY(0) translateX(0) rotate(0)'
        document.getElementById("ham-1").style.transform = 'translateY(0) translateX(0) rotate(0)'
        document.getElementById("ham-2").style.transform = 'scale(1)'
        document.getElementById("overlay").style.opacity = '0'
    }

    document.onclick = function(e){
            if (['navToggle','ham-1','ham-2','ham-3'].includes(e.target.id) && document.getElementById("overlay").style.opacity == '0'){
                openNav()
            } else if (e.target.id != 'sideNav') {
                closeNav()
            }
    };
</script>
