<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">

<div id="nav">
    <a href="/" class="logo">
<!--        <strong><h4>Brains@Play</h4></strong>-->
        <img src="/assets/brand/logo_and_sub_colorized-min.png">
    </a>
    <div id="navToggle" class="nav-icon">
        <div id="ham-1"></div>
        <div id="ham-2"></div>
        <div id="ham-3"></div>
    </div>
    <div id="sideNav" class="sidenav">
        <!--    <div id="links" class="stretch">-->
                <div>
                    <a href="/" class="link">Home</a>
                    <a href="/about" class="link">About</a>
                    <a href="/fund" class="link">Fund</a>
                    <!-- <a href="/blog" class="link">Blog</a> -->
                    <a href="mailto:contact@brainsatplay.com" class="link" target="_blank">Contact</a>
                </div>
                <div>
                    <a id="profile-nav-link" class="link">Profile</a>
                </div>

            <!--    </div>-->
        </div>
        <div id="overlay">
        </div>        
</div>

{% include profile.html %}

<script type="module">

    import { accounts, toggleCurrentProfileOverlay}from '../js/accounts.mjs'

    let profileLink = document.getElementById('profile-nav-link')
    profileLink.onclick = () => {
        toggleCurrentProfileOverlay()
    }

    let nav = document.getElementById('nav')
    // check which a tag is selected
    let checkSelected = () => {
        let tags = nav.querySelectorAll('a')
        for (let tag of tags){
            if (tag.href === window.location.href || tag.href + '/' === window.location.href){
                tag.classList.add('selected')
            }
        }

    }

    checkSelected()


    // set nav behavior
    function openNav() {
        nav.classList.add('open')
    }

    function closeNav() {
        nav.classList.remove('open')
    }

    document.onclick = function(e){

            if (['navToggle','ham-1','ham-2','ham-3'].includes(e.target.id)){
                if (!nav.classList.contains('open')){
                    openNav()
                } else {
                    closeNav()
                }
            } else if (e.target.id != 'sideNav') {
                closeNav()
            }
    };

    // Scroll
    let navbar = document.getElementById("nav")

    let onScroll = (e) => {
        if (window.scrollY > 75) navbar.style.background = 'rgba(0,0,0,0.9)'
        else navbar.style.background = 'transparent'
    }

    window.onscroll = onScroll
    onScroll()
</script>
