<div class="gallery grid">

    <div id="bcigamejam2021" class="labeled">
        <a href="https://bcigamejam.com/" target="_blank"><img src="{{ site.baseurl }}/about/projects/jam.png" alt="BCI Game Jam"></a>
        <div>
            <small><small><small>Fall 2021</small></small></small>
            <h4>BCI Game Jam</h4>
            <small><i>Competition</i></small>
        </div>
    </div>

    <div id="myalyce" class="labeled">
        <a href="https://github.com/MyAlyce" target="_blank"><img src="{{ site.baseurl }}/about/projects/alyce.png" alt="MyAlyce"></a>
        <div>
            <small><small><small>Summer 2021</small></small></small>
            <h4>MyAlyce</h4>
            <small><i>Startup</i></small>
        </div>
    </div>

    <div class="labeled">
        <a id="platform"  href="https://app.brainsatplay.com" target="_blank"><img src="{{ site.baseurl }}/about/projects/platform.png" alt="Brains@Play Platform"></a>
        <div>
            <small><small><small>Summer 2021</small></small></small>
            <h4>Brains@Play Platform</h4>
            <small><i>Software</i></small>
        </div>
    </div>

    <div class="labeled">
        <a id="curriculum" href="https://docs.google.com/presentation/d/1L2fA1eBEYYTvWpjLjKmGFkr6A6Jw3P1DScU3b1M_g0Y/edit?usp=sharing" target="_blank"><img src="{{ site.baseurl }}/about/projects/curriculum.jpg" alt="Brains at Play Curriculum"></a>
        <div>
            <small><small><small>Spring 2021</small></small></small>
            <h4>Brains at Play</h4>
            <small><i>High School Course</i></small>
        </div>
    </div>

    <div class="labeled">
        <a id="brainsandgames" href="../competition/" target="_blank"><img src="{{ site.baseurl }}/about/projects/brainsandgames.jpg" alt="Brains and Games"></a>
        <div>
            <small><small><small>Spring 2021</small></small></small>
            <h4>Brains and Games</h4>
            <small><i>Competition</i></small>
        </div>
    </div>

    <div class="labeled">
        <a id="livewire" href="https://www.youtube.com/watch?v=Jd4vZ9PKdYg" target="_blank"><img src="{{ site.baseurl }}/about/projects/livewire.jpg" alt="Livewire"></a>
        <div>
            <small><small><small>Spring 2021</small></small></small>
            <h4>Livewire</h4>
            <small><i>Event</i></small>
        </div>
    </div>
</div>