---
---
<!DOCTYPE html>
<html lang=en>
<head>
    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="./fund.css"/>

    <script src="https://js.braintreegateway.com/web/dropin/1.32.1/js/dropin.min.js"></script>

    <title>Fund | Brains@Play</title>
</head>
<body>
<!-- <div id=app> -->
    <!--Navbar-->
    {% include nav.html %}

    <div id="fund-header" class="header new">
        <h2>Fund</h2>
    </div>

    <!--Content-->
<section id="futures">
    <div id="fund-info">
        <div>
            <span id="fund-total"><span id="fund-total-current">$0</span> USD / month</span>
            <p id="fund-latest-contributor" style="opacity: 0; transition: 0.5s;"><small><span id="fund-latest-contributor-name"></span> <span id="fund-latest-contributor-action"></span>!</small></p>
        </div>

        <div>
            {% include feed.html %}
        </div>
    </div>

    <h2>About the Fund</h2>
    <hr>
    <p><small>
        All the funds raised here are helping to support Brains@Play's technology development 
        and allow us to focus our efforts wholeheartedly towards releasing open-source brain and 
        biomedical sensing infrastructure.
    </small></p>

    {% include projects.html %}

    <!-- {% include feed.html %} -->

    <p><small>
        Thank you!
    </small></p>

    <small style="opacity: 0.5;">
        — Garrett, Josh, and Jacob
    </small>

    <div id="contribution-header">
        <h2>Select a Contribution</h2>
    </div>
    <hr>

    <div id="fund-contribution-amounts">
        <div data-amount="5">
            <p>$5 USD</p>
        </div>
        <div data-amount="10">
            <p>$10 USD</p>
        </div>
        <div data-amount="20">
            <p>$20 USD</p>
        </div>
        <div data-amount="50">
            <p>$50 USD</p>
        </div>
        <div data-amount="250">
            <p>$250 USD</p>
        </div>
        <div data-amount="1000">
            <p>$1000 USD</p>
        </div>
        <div data-amount="5000">
            <p>$5000 USD</p>
        </div>
        <div id="custom">
            <p>$<input id="custom-contribution-amount" type="number"></input> USD</p>
        </div>
    </div>

    <!-- <div id="dropin-container"></div> -->
    <br>

    <div id="checkout-container">
        

        <button id="submit-button">
            <div>
                <span>Fund!</span>
                <br/>
                <span class="small">Secured by Stripe</span>
            </div>   
        </button>

        <div class="form-container">
            <div class="form-context">
                <div class='flex'>
                    <form  id="contributor-info-form" class="form" action="">
                        <div class="login-element">
                            <input type="text" name="contributionNote" autocomplete="off" placeholder="Add a Note (optional)"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="contribution-type-div">
            <div><small id="contribution-type">One Time</small><br></div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <div>
                <small id="contribution-type">Monthly</small><br>
            </div>
        </div>
        <div id="contribution-account-warning">Note: Must <a class="text">sign into your account</a> to enable monthly subscription</div>

    
    </div>
    
    <div class="notification">
        <h4 id="error-action"></h4>
        <p><strong><span id="error-name"></span>:</strong> <span id="error-response"></span></p>
    </div>

</section>

    <!--Footer-->
    {% include footer.html %}

<!-- </div> -->

</body>

<script type="module">

    import {accounts, toggleCurrentProfileOverlay} from '../js/accounts.mjs' 
    import {contributeToFund} from './stripe.mjs'
    import {toggleMonthly} from './monthly.mjs'

    let recurring = false
    let selectedContribution


const warning = document.getElementById('contribution-account-warning')
warning.onclick = toggleCurrentProfileOverlay


const button = document.querySelector('#submit-button');
button.onclick = () => {

    // Get Custom Fields for Form
    let formDict = {metadata: {}, recurring}
    let formData = new FormData(document.getElementById('contributor-info-form'));
    for (var pair of formData.entries()) formDict.metadata[pair[0]] = pair[1];

    formDict.metadata.id = accounts?.user?._id
    formDict.metadata.displayName = accounts?.user?.username
    formDict.amount = selectedContribution

    // Trigger Stripe Action
    contributeToFund(formDict)

}

// Check Monthly Toggle
let checkbox = document.body.querySelector('input[type="checkbox"]')
checkbox.onchange = () => {
    recurring = toggleMonthly(recurring)
}
recurring = toggleMonthly(recurring)

// Monitor Custom Amount
let amounts = document.getElementById('fund-contribution-amounts')
let divs = amounts.querySelectorAll('div')
let custom = document.getElementById('custom')
let customInput = document.getElementById('custom-contribution-amount')

// Handle Custom Amount Input
customInput.oninput = (e) => {
    custom.setAttribute('data-amount', customInput.value)
    selectedContribution = Number.parseFloat(customInput.value)
}

for (let div of divs) {
    div.onclick = () => {
        for (let d of divs) d.classList.remove('selected')
        div.classList.add('selected')

        selectedContribution = Number.parseFloat(div.getAttribute('data-amount'))
        console.log(selectedContribution)
    }
}

</script>

<script src="./total.js" type="text/javascript"></script>

</html>
