---
---
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="../js/site.js" type="text/javascript" defer></script>

    <title>Fund | Brains@Play</title>
</head>
<body>
<div id=app>
    <!--Navbar-->
    {% include nav.html %}

    <div id="futures-header" class="header">
        <h2>Fund</h2>
    </div>

    <!--Content-->
<section id="futures">
    <div>
        <h2>Coming soon...</h2>
    </div>
</section>

    <!--Footer-->
        {% include footer.html %}

</div>

</body>
</html>
