---
---
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="../js/site.js" type="text/javascript" defer></script>

    <title>Brains@Play | About Us</title>
</head>
<body>
<div id=app>
    <!--Navbar-->
    {% include nav.html %}

    <div id="futures-header" class="header">
        <h2>About Us</h2>
    </div>

    <!--Content-->
<section id="futures">
    <div>
        <h2>Our Mission</h2>
        <hr/>
        <br/>
        <p><strong>The Brains@Play Initiative</strong> is an international research collective enabling the responsible design and development of brain-responsive multiplayer experiences through the production of public design workshops, educational resources, and open-source software tools.</p>
    </div>
            <div>
                <h2>Projects</h2>
                <hr/>
                <br/>
                <a id="brainsandgames" class="feature-anchor"></a>
                <div class="feature">
                    <div class="left-feature">
                        <img src="projects/brainsandgames.jpg" alt="Brains and Games">
                    </div>
                    <div class="right-feature">
                        <div>
                        <h3>Brains and Games</h3>
                        <i>Competition</i>
                        <p>An international design fiction competition seeking creative ideas for brain-responsive multiplayer games.</p>
                        <br/>
                        <div class="button-nav flex-left">
                        <button onclick="window.location.href='/competition'">Active Project Page</button>
                        <button onclick="window.location.href='/about/projects/brainsandgames'">Extended Summary</button>
                        </div>
                        </div>
                    </div>
                </div>

                <a id="livewire" class="feature-anchor"></a>
                <div class="feature">
                    <div class="left-feature">
                        <img src="projects/livewire.jpg" alt="Livewire">
                    </div>
                    <div class="right-feature">
                        <div>
                        <h3>Livewire: A Stimulating Night of Neurotechnology</h3>
                        <i>Public Event</i>
                        <p>An online entertainment event combining neuroscience, neuroethics, and interactive media for participatory technology design. </p>
                        <br/>
                        <div class="button-nav flex-left">
                        <button
                                onclick="window.open(
                                  'https://visionsandvoices.usc.edu/eventdetails/?event_id=33741435186601&s_type=&s_genre=',
                                  '_blank' // <- This is what makes it open in a new window.
                                );"
                        >Active Project Page</button>
                        <button onclick="window.location.href='/about/projects/livewire'">Extended Summary</button>
                        </div>
                        </div>
                    </div>
                </div>
        <div>
            <h2>People</h2>
            <hr/>
            <br/>
            <a id="marientina" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/marientina.jpg" alt="Marientina Gotsis">
                </div>
                <div class="right-feature">
                    <div>
                    <h3>Marientina Gotsis</h3>
            <i>Co-Founder</i>
            <p>Marientina Gotsis has a broad background in arts, design and engineering with a special interest in interactive entertainment applications for health, happiness and rehabilitation. She founded and leads USC's Games for Health Initiative since 2007, connecting health professionals with innovation in various forms of interactive media. She is co-founder and director of the <a href="http://cmbhc.usc.edu/" class="text">Creative Media & Behavioral Health Center</a>, an organized research unit between the School of Cinematic Arts and the Keck School of Medicine, which was established in 2010. This center designs, develops and evaluates entertainment applications at the intersection of behavioral science, medicine and public health.
            </p>
                    </div>
                </div>
            </div>

            <a id="dong" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/dong.jpg" alt="Dong Song">
                </div>
                <div class="right-feature">
                    <div>
                    <h3>Dong Song</h3>
                    <i>Co-Founder</i>
                    <p>Dong Song is a Research Associate Professor of Biomedical Engineering and Co-Director of the Center for Neural Engineering at the University of Southern California (USC).  His research interests include nonlinear dynamical modeling of the nervous system, hippocampal memory prosthesis, neural interface technologies, and development of novel modeling strategies incorporating both statistical and mechanistic modeling methods.</p>
                    </div>
                    </div>
            </div>

            <a id="dimitris" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/dimitris.jpg" alt="Dimitris Grammenos">
                </div>
                <div class="right-feature">
                    <div>
                    <h3>Dimitris Grammenos</h3>
                    <i>Co-Founder</i>
                    <p>Dimitris Grammenos is a Principal Researcher at the Institute of Computer Science of the Foundation for Research and Technology - Hellas. He has more than 20 years of international R&D experience in the domains of Human-Computer Interaction (HCI), User Experience, Interaction Design and Universal Design. Over the years, he has created numerous innovative interactive systems, several of which are installed in public spaces (museums, airports, exhibitions, etc.) and used by many thousands of people.</p>
                    </p>
                    </div>
                </div>
            </div>
            <a id="garrett" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/garrett.jpg" alt="Garrett Flynn">
                </div>
                <div class="right-feature">
                    <div>
                    <h3>Garrett Flynn</h3>
                    <span><i>Co-Founder & Project Coordinator</i></span>
                    <p>Garrett Flynn is a neurotechnologist in the Computational Neuroscience (BS) and Media Arts, Games, and Health (MA) programs. Informed by his experiences at the <a href="slab.usc.edu" class="text">Neural Modeling and Interface Lab</a> under the guidance of <a href="#dong" class="text">Dr. Dong Song</a>, his work empowers the participatory, human-centered design of next-generation brain devices.
                    </p>
                    </div>
                </div>
            </div>

            <a id="samir" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/samir.jpg" alt="Samir Ghosh">
                </div>
                <div class="right-feature">
                    <div>
                    <h3>Samir Ghosh</h3>
                    <span><i>Software Developer</i></span>
                    <p>Samir Ghosh is a coder and polymath who serves as Assistant Director for the Ahmanson Lab at USC. Over there, they manage a makerspace, teach workshops, and produce impactful VR, AR, and hardware projects with professors and students from many fields. Some of these projects have received contributions from organizations such as the Vatican, the California Science Center, and the LA Times.
                    </p>
                    </div>
                </div>
            </div>

            <a id="jay" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/jay.jpg" alt="Jay Goldstuck">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Jay Goldstuck</h3>
                        <span><i>Student Working Group (2020-2021)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>

            <a id="tejas" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/tejas.jpg" alt="Tejas Ramdas">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Tejas Ramdas</h3>
                        <span><i>Student Working Group (2020-2021)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>

            <a id="morgan" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                                        <img src="people/morgan.jpg" alt="Morgan Kuligowski">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Morgan Kuligowski</h3>
                        <span><i>Student Working Group (2019-2020)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>

            <a id="alice" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                                        <img src="people/alice.jpg" alt="Yizhen (Alice) Wu">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Yizhen (Alice) Wu</h3>
                        <span><i>Student Working Group (2019-2020)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>

            <a id="adam" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/adam.jpg" alt="Adam Christian Clark">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Adam Christian Clark</h3>
                        <span><i>Student Working Group (2019-2020)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>

            <a id="stefan" class="feature-anchor"></a>
            <div class="feature">
                <div class="left-feature">
                    <img src="people/stefan.jpeg" alt="Stefan Niculae">
                </div>
                <div class="right-feature">
                    <div>
                        <h3>Stefan Niculae</h3>
                        <span><i>Student Working Group (2019)</i></span>
                        <!--                        <p></p>-->
                    </div>
                </div>
            </div>
        </div>
<!--            <div>-->
<!--                <h3>Curriculum</h3>-->
<!--                <p>View our <a href="curriculum" class="text">curriculum</a></p>-->
<!--            </div>-->
</section>

    <!--Footer-->
        {% include footer.html %}

</div>

</body>
</html>
