---
---
<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/assets/favicons/favicon.ico> <link rel="stylesheet" type="text/css" href="../css/style.css" />

    <title>About Us | Brains@Play</title>
</head>

<body>
    <!-- <div id=app> -->
    <!--Navbar-->
    {% include nav.html %}

    <div id="about-header" class="header new">
        <h2>About Us</h2>
    </div>

    <!--Content-->
    <section id="futures">
        <div>
            <h2>Our Mission</h2>
            <hr />
            <p><small>
                    <p><strong>Brains@Play is developing open-source (AGPLv3) brain and biomedical sensing tools with
                            modern web technologies and low-cost IoT hardware.</strong>
                        <!-- </p> -->
                        <!-- <p> -->
                        We are helping pave the way for future community-led health technologies.</p>
                </small></p>

            <button onclick="window.location.href='https://opencollective.com/brainsatplay'" target="_blank"
                type="button">
                <div>
                    <span>Support our Work</span>
                </div>
            </button>

        </div>
        <div>
            <h2>Projects</h2>
            <hr />
            {% include projects.html %}



            <div>
                <h2>Community</h2>
                <hr />
                <br />

                <div class="gallery grid col-4">

                    <!-- Current Team -->
                    <div class="labeled">
                        <a id="garrett" target="_blank" href="https://www.linkedin.com/in/garrettmflynn/"
                            class="feature-anchor">
                            <img src="people/garrett.jpg" alt="Garrett Flynn">
                        </a>
                        <div>
                            <h4>Garrett Flynn</h4>
                            <small><i>Founding Partner</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a id="joshua" target="_blank" href="https://www.linkedin.com/in/joshua-brewster93/"
                            class="feature-anchor">
                            <img src="people/joshua.jpeg" alt="Joshua Brewster">
                        </a>
                        <div>
                            <h4>Joshua Brewster</h4>
                            <small><i>Founding Partner</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a id="maurice" target="_blank" href="https://www.linkedin.com/in/mnsabimana"
                            class="feature-anchor">
                            <img src="people/maurice.jpeg" alt="Maurice Nsabimana">
                        </a>
                        <div>
                            <h4>Maurice Nsabimana</h4>
                            <small><i>Business Advisor</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a id="jacob" target="_blank" href="https://www.linkedin.com/in/jacob-tinkhauser-2357761b2/"
                            class="feature-anchor">
                            <img src="people/jacob.jpeg" alt="Jacob Tinkhauser">
                        </a>
                        <div>
                            <h4>Jacob Tinkhauser</h4>
                            <small><i>Embedded Systems</i></small>
                        </div>
                    </div>

                    <!-- Old Team -->
                    <div class="labeled">
                        <a id="marientina" target="_blank"
                            href="https://cinema.usc.edu/directories/profile.cfm?id=21482" class="feature-anchor">
                            <img src="people/marientina.jpg" alt="Marientina Gotsis">
                        </a>
                        <div>
                            <h4>Marientina Gotsis</h4>
                            <small><i>Initiative Founder</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a id="dong" target="_blank" href="https://viterbi.usc.edu/directory/faculty/Song/Dong"
                            class="feature-anchor">
                            <img src="people/dong.jpg" alt="Dong Song">
                        </a>
                        <div>
                            <h4>Dong Song</h4>
                            <small><i>Initiative Founder</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a id="dimitris" target="_blank" href="https://www.ics.forth.gr/person/Grammenos/Dimitrios"
                            class="feature-anchor">
                            <img src="people/dimitris.jpg" alt="Dimitris Grammenos">
                        </a>
                        <div>
                            <h4>Dimitris Grammenos</h4>
                            <small><i>Initiative Founder</i></small>
                        </div>
                    </div>
                </div>

                <h3 style="padding-bottom: 10px; padding-top: 25px;">Brains@Play Fellows</h3>
                <div class="gallery grid col-4">

                <div class="labeled">
                    <a id="chandhana" target="_blank"
                        href="https://www.linkedin.com/in/chandhana-sathishkumar/?trk=public_profile_browsemap&originalSubdomain=in" class="feature-anchor">
                        <img src="people/fellows/chandhana.jpeg" alt="Chandhana Sathishkumar">
                    </a>
                    <div>
                        <h4>Chandhana Sathishkumar</h4>
                        <small><i>2022 - present</i></small>
                    </div>
                </div>
            </div>

            <div id="bgc" class="gallery grid col-4">

                <h3 style="padding-bottom: 10px; padding-top: 25px;">Brains and Games International Design Fiction
                    Competition</h3>

                <p><small><strong>Marcelo Díaz Viana Neto</strong> - Hostos Community College</small></p>
                <p><small><strong>Elizabeth Swensen</strong> - University of California, Santa Cruz</small></p>
                <p><small><strong>Judy Cameron</strong> - University of Pittsburgh</small></p>
                <p><small><strong>Laura Cabrera</strong> - Michigan State University</small></p>
                <p><small><strong>Katerina Zacharia</strong> - Loyola Marymount University</small></p>
                <p><small><strong>Bryan Jenkins</strong> - NeuroTechX | Ontario Veterinary College | University of
                        Guelph</small></p>
                <p><small><strong> Erin Reynolds</strong> - Flying Mollusk</small></p>
                <p><small><strong>Anahita Dalmia</strong> - Alterea</small></p>
                <p><small><strong>Ishan Dasgupta</strong> - University of Washington</small></p>
                <p><small><strong>Roland Nadler</strong> - University of British Columbia</small></p>
                <p><small><strong>Pat Healy</strong> - University of Pittsburgh</small></p>
                <p><small><strong>Sook-Lei Liew</strong> - University of Southern California</small></p>
                <p><small><strong>James Finley</strong> - University of Southern California</small></p>
                <p><small><strong>Carolee Winstein</strong> - University of Southern California</small></p>
                <p><small><strong>Scott Fisher</strong> - University of Southern California</small></p>
                <p><small><strong>Vangelis Lympouridis</strong> - Enosis</small></p>
                <p><small><strong>Eran Klein</strong> - Oregon Health and Science University | University of
                        Washington</small></p>
                <p><small><strong>Michael Young</strong> - Massachusetts General Hospital | Harvard Medical
                        School</small></p>
                <p><small><strong>Antonia Zaferiou</strong> - Stevens Institute of Technology</small></p>
                <p><small><strong>Allen Yin</strong> - Facebook Reality Labs</small></p>
                <p><small><strong>Adam Molnar</strong> - Neurable | NeuroTechX</small></p>
                <p><small><strong>Brandon Siebert</strong> - Neurable</small></p>
                <p><small><strong>David Stanley</strong> - Neurable</small></p>
                <p><small><strong>Max Orozco</strong> - Lumeum</small></p>
                <p><small><strong>Tim Brown</strong> - University of Washington</small></p>
                <p><small><strong>Andreas Schönau</strong> - University of Washington</small></p>
                <p><small><strong>Judith Amores Fernandez</strong> - MIT Media Lab, Fluid Interfaces Group</small></p>
                <p><small><strong>Nataliya Kosmyna</strong> - MIT Media Lab, Fluid Interfaces Group | CEO Braini</small>
                </p>
                <p><small><strong>Guillermo Bernal</strong> - MIT Media Lab, Fluid Interfaces Group</small></p>
                <p><small><strong>Sophia Batchelor</strong> - University of Leeds</small></p>
                <p><small><strong>Andreas Kratky</strong> - University of Southern California</small></p>
                <p><small><strong>Kiki Benzon</strong> - University of Southern California</small></p>
                <p><small><strong>Margaret Moser</strong> - University of Southern California</small></p>
                <p><small><strong>Jason Zevin</strong> - University of Southern California</small></p>
                <p><small><strong>Anton Nijholt</strong> - University of Twente</small></p>
                <p><small><strong>Nina Sobell</strong></small></p>
                <p><small><strong>Mike Trivich</strong></small></p>
                <p><small><strong>Laila Shereen Sakr</strong> - University of California, Santa Barbara</small></p>
                <p><small><strong>Kate Hollenbach</strong> - DePaul University</small></p>
                <p><small><strong>Suzanne Dikker</strong> - New York University</small></p>
                <p><small><strong>Matthias Oostrik</strong></small></p>
                <p><small><strong>David Medine</strong> - Diademics Pty Ltd.</small></p>
                <p><small><strong>Alex Castillo</strong> - Neurosity</small></p>
                <p><small><strong>AJ Keller</strong> - Neurosity</small></p>
                <p><small><strong>Jeremy Greenberg</strong> - Future of Privacy Forum</small></p>
                <p><small><strong>Sarah Ciston</strong> - University of Southern California</small></p>
            </div>

            <div id="livewire" class="gallery grid col-4">

                <h3 style="padding-bottom: 10px; padding-top: 25px;">Livewire: A Stimulating Night of Neurotechnology
                </h3>
                
                <p><small><strong>Katerina Zacharia</strong> - Loyola Marymount University</small></p>
                <p><small><strong>Morgan Kuligowski</strong> - Student Working Group (2019 - 2021)</small></p>
                <p><small><strong>Yizhen (Alice) Wu</strong> - Student Working Group (2019 - 2021)</small></p>
                <p><small><strong>Jay Goldstuck</strong> - Student Working Group (2020 - 2021)</small></p>
                <p><small><strong>Tejas Ramdas</strong> - Student Working Group (2020 - 2021)</small></p>
                <p><small><strong>Adam Christian Clark</strong> - Student Working Group (2019 - 2020)</small></p>
                <p><small><strong>Stefan Niculae</strong> - Student Working Group (2019)</small></p>
            </div>
            </div>
    </section>

    <!--Footer-->
    {% include footer.html %}

    <!-- </div> -->

</body>

</html>