---
---
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/assets/favicon.ico>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>

    <title>About Us | Brains@Play</title>
</head>
<body>
<div id=app>
    <!--Navbar-->
    {% include nav.html %}

    <div id="about-header" class="header new">
        <h2>About Us</h2>
    </div>

    <!--Content-->
<section id="futures">
    <div>
        <h2>Our Mission</h2>
        <hr/>
        <br/>
        <strong>Brains@Play is developing free and open-source biomedical infrastructure supported by modern web technologies.</strong> Everyone has a brain. Let's develop applications accessible to all of them.</p>
        
        <button onclick="window.location.href='../fund'" target="_blank" type="button" style="width: 100%;">
            <div>
                <span>Support our Work</span>
            </div>
        </button>
    
        </div>
            <div>
                <h2>Projects</h2>
                <hr/>
                <br/>
                <a id="brainsandgames" class="feature-anchor"></a>
                <div class="gallery grid">

                    <div class="labeled">
                        <a href="https://bcigamejam.com/" target="_blank"><img src="projects/jam.png" alt="BCI Game Jam"></a>
                        <div>
                            <small><small><small>Fall 2021</small></small></small>
                            <h4>BCI Game Jam</h4>
                            <small><i>Competition</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a href="https://github.com/MyAlyce" target="_blank"><img src="projects/alyce.png" alt="MyAlyce"></a>
                        <div>
                            <small><small><small>Summer 2021</small></small></small>
                            <h4>MyAlyce</h4>
                            <small><i>Startup</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a href="https://app.brainsatplay.com" target="_blank"><img src="projects/platform.png" alt="Brains@Play Platform"></a>
                        <div>
                            <small><small><small>Summer 2021</small></small></small>
                            <h4>Brains@Play Platform</h4>
                            <small><i>Software</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a href="https://docs.google.com/presentation/d/1L2fA1eBEYYTvWpjLjKmGFkr6A6Jw3P1DScU3b1M_g0Y/edit?usp=sharing" target="_blank"><img src="projects/curriculum.jpg" alt="Brains at Play Curriculum"></a>
                        <div>
                            <small><small><small>Spring 2021</small></small></small>
                            <h4>Brains at Play</h4>
                            <small><i>High School Course</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a href="../competition/" target="_blank"><img src="projects/brainsandgames.jpg" alt="Brains and Games"></a>
                        <div>
                            <small><small><small>Spring 2021</small></small></small>
                            <h4>Brains and Games</h4>
                            <small><i>Competition</i></small>
                        </div>
                    </div>

                    <div class="labeled">
                        <a href="https://www.youtube.com/watch?v=Jd4vZ9PKdYg" target="_blank"><img src="projects/livewire.jpg" alt="Livewire"></a>
                        <div>
                            <small><small><small>Spring 2021</small></small></small>
                            <h4>Livewire</h4>
                            <small><i>Event</i></small>
                        </div>
                    </div>
                </div>

                
        <div>
            <h2>Team</h2>
            <hr/>
            <br/>

            <div class="gallery grid col-4">

                <div class="labeled">
                    <a id="garrett" target="_blank" href="https://www.linkedin.com/in/garrettmflynn/" class="feature-anchor">
                        <img src="people/garrett.jpg" alt="Garrett Flynn">
                    </a>
                        <div>
                            <h4>Garrett Flynn</h4>
                            <small><i>Founding Partner</i></small>
                        </div>
                </div>

                <div class="labeled">
                    <a id="joshua" target="_blank" href="https://www.linkedin.com/in/joshua-brewster93/" class="feature-anchor">
                        <img src="people/joshua.jpeg" alt="Joshua Brewster">
                    </a>
                        <div>
                            <h4>Joshua Brewster</h4>
                            <small><i>Founding Partner</i></small>
                        </div>
                </div>

                <div class="labeled">
                    <a id="jacob" target="_blank" href="https://www.linkedin.com/in/jacob-tinkhauser-2357761b2/" class="feature-anchor">
                        <img src="people/jacob.jpeg" alt="Jacob Tinkhauser">
                    </a>
                        <div>
                            <h4>Jacob Tinkhauser</h4>
                            <small><i>Founding Partner</i></small>
                        </div>
                </div>
            </div>

            <h3 style="margin-bottom: 0px;">The Brains@Play Initiative</h3>
            <small><small>University of Southern California | 2020 - 2021</small></small>
            <br/>
            <br/>

            <div class="gallery grid col-4">

                <div class="labeled">
                    <a id="marientina" target="_blank" href="https://cinema.usc.edu/directories/profile.cfm?id=21482" class="feature-anchor">
                        <img src="people/marientina.jpg" alt="Marientina Gotsis">
                    </a>
                        <div>
                            <h4>Marientina Gotsis</h4>
                            <small><i>Initiative Cofounder</i></small>
                        </div>
                </div>

                <div class="labeled">
                    <a id="dong" target="_blank" href="https://viterbi.usc.edu/directory/faculty/Song/Dong" class="feature-anchor">
                        <img src="people/dong.jpg" alt="Dong Song">
                    </a>
                        <div>
                            <h4>Dong Song</h4>
                            <small><i>Initiative Cofounder</i></small>
                        </div>
                </div>

                <div class="labeled">
                    <a id="dimitris" target="_blank" href="https://www.ics.forth.gr/person/Grammenos/Dimitrios" class="feature-anchor">
                        <img src="people/dimitris.jpg" alt="Dimitris Grammenos">
                    </a>
                        <div>
                            <h4>Dimitris Grammenos</h4>
                            <small><i>Initiative Cofounder</i></small>
                        </div>
                </div>
            </div>
        </div>
</section>

    <!--Footer-->
        {% include footer.html %}

</div>

</body>
</html>
