---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Brains@Play | Competition</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <div id="competition-header" class="header">
        <h2>Brains and Games</h2>
        <h4>International Design Fiction Competition</h4>
    </div>

    <section>
            <div>
                <div>
                    <h2>Competition</h2>
                    <hr/>
                    <h3>Welcome Gamers!</h3>
                <p>Brains and Games is an international design fiction competition seeking creative ideas for brain-responsive multiplayer games.</p>
                    <p>Please read our <a href="https://docs.google.com/document/d/16uJzMKtWQY7A9rOYpWQAfCmcg2tS9YdCIr8WUTfPiOU/edit" class="text">Competition Guide</a> for more details about the Brains and Games competition including important dates, the submission process, submission categories, and official rules.</p>
                    <div class="button-nav flex-left">
                        <button onclick="window.location.href='https://docs.google.com/document/d/16uJzMKtWQY7A9rOYpWQAfCmcg2tS9YdCIr8WUTfPiOU/edit#heading=h.i9ybpbb9qulg'" rel="noopener">Review Rules</button>
                        <button onclick="window.location.href='/the-game-from-the-future'" rel="noopener">Brainstorm a Game</button>
                        <button onclick="window.location.href='https://docs.google.com/document/d/1n-iRXqMezVxTVdcs30FfgTKAmhi4KU02mt0vODlaYbA/edit'" rel="noopener">Download Design Document</button>
                        <button onclick="window.location.href='https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL'" rel="noopener">Submit your Game</button>
                        <button onclick="window.location.href='/games'" rel="noopener">View Submissions</button>
                    </div>
                    <br/>
                    <h2>Submission Categories</h2>
                    <hr/>
                    <p> The competition has 3 submission categories open to anyone in the world—including, but not limited to, children, adults, schools, families, youth groups, students, scientists, engineers, and academics.</p>
                    <div class="competition-categories">
                        <div class="competition-category">
                    <h4>Brain Games | USC Games</h4>
                            <h5>Description</h5>
                            <p>Conceptualize and design a future multiplayer game that uses brain-to-brain interaction (BBI) technologies.</p>
                            <h5>Prizes</h5>
                            <p>Four teams will be selected to present their game concept to an international audience during the Brains and Games Showcase on March 20th, 2021.
                            </p>
                            <p class="small">View more details <a href="https://docs.google.com/document/d/16uJzMKtWQY7A9rOYpWQAfCmcg2tS9YdCIr8WUTfPiOU/edit#heading=h.xjfqlh4roblj" rel="noopener" class="text">here</a></p>
                        </div>
                        <div class="competition-category">
                            <h4>VR + Neurotech + Health | USC SMART-VR Center</h4>
                            <h5>Description</h5>
                            <p>Conceptualize and design a virtual reality (VR) game that uses neurotechnology to improve the health of its users.</p>
                            <h5>Grand Prize (US Only)</h5>
                            <p>One team (US only) will win mentorship from Brains@Play and funding from the USC SMART-VR Center to develop a prototype during Summer 2021.
                                </p>
                            <h5>Other Prizes</h5>
                            <p>Three additional teams will be selected to present their game concept to an international audience during the Brains and Games Showcase on March 20th, 2021.
                            <p class="small">View more details <a href="https://docs.google.com/document/d/16uJzMKtWQY7A9rOYpWQAfCmcg2tS9YdCIr8WUTfPiOU/edit#heading=h.81yz0dsi65f7" rel="noopener" class="text">here</a></p>

                            </p>
                        </div>
                        <div class="competition-category">
                            <h4>Computational Art</h4>
                            <h5>Description</h5>
                            <p>Submit a work of computational art that explore themes surrounding neuroscience, ethics, technology, and consciousness.</p>
                            <h5>Grand Prize (US Only)</h5>
                            <p>One team will win a Muse 2 Headband and support from Brains@Play to develop a prototype of their game.
                            </p>
                            <h5>Other Prizes</h5>
                            <p>Three additional teams will be selected to present their game concept to an international audience during the Brains and Games Showcase on March 20th, 2021.
                    </p>
                            <p class="small">View more details <a href="https://docs.google.com/document/d/16uJzMKtWQY7A9rOYpWQAfCmcg2tS9YdCIr8WUTfPiOU/edit#heading=h.t4pvmm9bs5am" rel="noopener" class="text">here</a></p>

                        </div>
                        </div>
                </div>
            </div>

        <br/>

        <div>
        <h2>Important Dates</h2>
        <hr/>
        <a id="workshop" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                <h3>February 1st, 2021</h3>
                <h4>Workshop</h4>
                <i class="small">Approx. 1 hour</i>
                </div>
            </div>
            <div class="right-feature">
                <p>A fast-paced online design fiction workshop about creating a digital game employing futuristic brain-to-brain interaction (BBI) technologies. The workshop introduces (a) the concept of speculative design; (b) foresight as a means for exploring alternative futures; and (c) the current state of the art, as well as, the envisioned capabilities of BBI technologies. Also, through a series of engaging and fun creative thinking activities, participants are guided towards the conceptual design of a BBI “game from the future”. The main goals of the workshop include understanding emerging BBI technologies and their potential impact to the (near and distant) future, creative and critical thinking and having fun.
                </p>
                <p>This workshop will begin at 9:00 AM PT on February 1st, 2021 and will last for 100 + 40 (optional) minutes. It will include an introductory presentation, a short break, design exercises, and an (optional) 40-minute working session where teams can develop a rough submission to the Brains and Games competition.
                </p>
            </div>
        </div>

        <a id="deadline" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>March 10th, 2021</h3>
                    <h4>Submission Deadline</h4>
                </div>
            </div>
            <div class="right-feature">
                <p>All submissions must be submitted via our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a> by 11:59pm PST on March 10th, 2021.</p>
            </div>
        </div>
        <a id="showcase" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>March 20th, 2021</h3>
                    <h4>Submission Showcase</h4>
                    <i class="small">Approx. 2 hours</i>
                </div>
            </div>
            <div class="right-feature">
                <p>Winning participants share their submissions during the Brains and Games public showcase for <a href="https://www.brainawareness.org/" class="text">Brain Awareness Week</a>.
                </p>
            </div>
        </div>
        <a id="prototyping" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>May - August, 2021</h3>
                    <h4>Prototyping</h4>
                    <i class="small">Approx. 4 months</i>
                </div>
            </div>
            <div class="right-feature">
                <p>Selected participants build working prototypes of their game with mentorship from Brains@Play and the USC Media Arts + Practice Division’s <a href="https://creativecodecollective.github.io/"  class="text">Creative Code Collective</a>.</p>
            </div>
        </div>
        </div>
<!--                <h3>Greek Student Competition</h3>-->
<!--        <hr/>-->
<!--        <p>December 18th - 19th, 2020 — Introductory workshops hosted by Dimitris Grammenos</p>-->
<!--                <p>March 10th, 2021 — Submission deadline</p>-->
<!--                <p>April 13th-18th, 2021 — Participants will present their submissions online at the <a href="http://www.digifest.info/index.php/en/" class="text">Computing at School Festival</a></p>-->
<!--                <p>April 18th, 2021 — Winners announced</a></p>-->
<!--                <h4>Prize Categories</h4>-->
<!--                <ol>-->
<!--                    <li>Primary School</li>-->
<!--                    <li>Gymnasium</li>-->
<!--                    <li>Lyceum</li>-->
<!--                </ol>-->
<!--                    <h4>Submission Requirements</h4>-->
<!--                    <ol>-->
<!--                        <li>Brains and Games Design Document (to be released)</li>-->
<!--                        <li>A 1920x1080 cover image (including the name of the game)</li>-->
<!--                        <li> A video, up to 3’</li>-->
<!--                    </ol>-->
<!--                <p class="small"><i>Note:</i> Submissions to the Greek competition will be managed by the organizers of the Computing at School Festival</p>-->
    </section>

    <!--Footer-->
        {% include footer.html %}

</div>
</body>
</html>
