---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Competition | Brains@Play</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <div id="competition-header" class="header">
        <img src="/assets/brand/BGC_Logo_Tight_ExtraInfo.png" style="padding: 25px;">
        <div class="button-nav flex-left">
            <button id="https://usc.qualtrics.com/jfe/form/SV_81b4qIjkTTT1OsK" type="button" style="width: 100%;">Register for the Competition</button>
            <button id="eventbrite-widget-modal-trigger-136822627161" type="button" style="width: 100%;">Attend our Free Brainstorming Workshop</button>
            <button onclick="window.location.href='https://discord.gg/eDGQcXGnWc'" rel="noopener" style="width: 40%;">Join our Discord Community</button>
            <button onclick="window.location.href='/the-game-from-the-future'" rel="noopener" style="width: 40%;">Brainstorm a Game</button>
            <button onclick="window.location.href='/competition/rules.html'" rel="noopener">Review the Competition Rules</button>
            <button onclick="window.location.href='https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL'" rel="noopener">Submit your Game</button>
            <!--                        <button onclick="window.location.href='/games'" rel="noopener">View Submissions</button>-->
        </div>
    </div>

    <section>
        <h2>Welcome Gamers!</h2>
        <hr/>
        <p><strong>The Brains and Games Competition (BGC) is an international design fiction competition seeking creative ideas for brain-responsive multiplayer games.</strong> The BGC is open to anyone in the world—including, but not limited to, children, adults, schools, families, youth groups, students, scientists, engineers, and academics.
        </p>

        <ol>
            <li><a href="#dates" class="text">Important Dates</a></li>
            <li><a href="#categories" class="text">Submission Categories</a></li>
            <li><a href="#process" class="text">The Submission Process</a></li>
            <li><a href="#awards" class="text">Awards</a></li>
        </ol>

        <div>
        <span id="dates"></span>
        <br/>
        <h2>Important Dates</h2>
        <hr/>
        <a id="workshop" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>February 1st, 2021</h3>
                    <h4>Workshop</h4>
                    <i class="small">Approx. 2 Hours</i>
                </div>
            </div>
            <div class="right-feature">
                <div>
                    <p>A fast-paced online design fiction workshop about creating a digital game employing futuristic brain-to-brain interaction (BBI) technologies. The workshop introduces (a) the concept of speculative design; (b) foresight as a means for exploring alternative futures; and (c) the current state of the art, as well as, the envisioned capabilities of BBI technologies. Also, through a series of engaging and fun creative thinking activities, participants are guided towards the conceptual design of a BBI “game from the future”. The main goals of the workshop include understanding emerging BBI technologies and their potential impact to the (near and distant) future, creative and critical thinking and having fun.
                    </p>
                    <p>This workshop, led by Dr. Dimitris Grammenos, will begin at 9:00 AM PT on February 1st, 2021 and will last for 100 + 40 (optional) minutes. It will include an introductory presentation, a short break, design exercises, and an (optional) 40-minute working session where teams can develop a rough submission to the Brains and Games competition.
                    </p>

                    <!--                    Eventbrite Start                     -->
                    <!-- Noscript content for added SEO -->
                    <noscript><a href="https://www.eventbrite.com/e/brains-and-games-brainstorming-workshop-tickets-136822627161" rel="noopener noreferrer" target="_blank"></noscript>
                    <!-- You can customize this button any way you like -->
                    <button id="eventbrite-widget-modal-trigger-136822627161" type="button">Register</button>
                    <noscript></a>Register on Eventbrite</noscript>

                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                    <script type="text/javascript">
                        var exampleCallback = function() {
                            console.log('Order complete!');
                        };

                        window.EBWidgets.createWidget({
                            widgetType: 'checkout',
                            eventId: '136822627161',
                            modal: true,
                            modalTriggerElementId: 'eventbrite-widget-modal-trigger-136822627161',
                            onOrderComplete: exampleCallback
                        });
                    </script>

                    <!--                    Eventbrite End                     -->

                </div>
            </div>
        </div>

        <a id="deadline" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>March 10th, 2021</h3>
                    <h4>Submission Deadline</h4>
                </div>
            </div>
            <div class="right-feature">
                <div>
                    <p>All submissions must be submitted via our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a> by 11:59pm PST on March 10th, 2021. You can also <a href="/competition/DesignDocument.pdf" class="text">download a preview of the content of the form</a>.</p>
                    <p>Winning teams will be selected by a <a href="/competition/judges.html" class="text">panel of experts</a> and notified by March 15th, 2021.</p>
                </div>
            </div>
        </div>
        <a id="showcase" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>March 20th, 2021</h3>
                    <h4>Submission Showcase</h4>
                    <i class="small">Approx. 2 Hours</i>
                </div>
            </div>
            <div class="right-feature">
                <p>Winning participants share their submissions during the Brains and Games public showcase for <a href="https://www.brainawareness.org/" class="text">Brain Awareness Week</a>.
                </p>
            </div>
        </div>
        <a id="prototyping" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <div>
                    <h3>May - August, 2021</h3>
                    <h4>Prototyping</h4>
                    <i class="small">As Available</i>
                </div>
            </div>
            <div class="right-feature">
                <p>Selected participants build working prototypes of their game with mentorship from Brains@Play and the USC Media Arts + Practice Division’s <a href="https://creativecodecollective.github.io/"  class="text">Creative Code Collective</a>.</p>
            </div>
        </div>
    </div>


        <span id="categories"></span>

        <br>
        <h2>Submission Categories</h2>
        <hr/>
        <div id="submission-categories">
        <h3>
            Brain Games
        </h3>
        <i>Open to any and all participants. Only creative ideas required!</i>
            <p><strong>Teams of 2-4 participants will conceptualize and design a future multiplayer game that uses brain-to-brain interaction (BBI) technologies.</strong></p>
        <p>To apply to the Brain Games category, please submit your answers from the <a href="/competition/DesignDocument.pdf" class="text">Brains and Games Design Document</a> to our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a>. This will include submission of the following distinct materials:</p>
        <ol>
            <li>Textual descriptions of key aspects of the game, enriched with sketches and images.</li>
            <li>A cover image.</li>
            <li>A video, up to 3 minutes, that presents and explains the game.</li>
        </ol>
        <h3>VR + Neurotech + Health</h3>
        <i>Prior prototyping experience must be demonstrated.</i>
            <p><strong>Teams of 2-4 participants will conceptualize and design a virtual reality (VR) game that uses neurotechnology to improve the health of its users.</strong></p>
        <p>To apply to the VR + Neurotech + Health category, please submit your answers from the <a href="/competition/DesignDocument.pdf" class="text">Brains and Games Design Document</a> to our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a>. This will include submission of the following distinct materials:</p>
        <ol>
            <li>Textual descriptions of key aspects of the game, enriched with sketches and images.</li>
            <li>A cover image.</li>
            <li>A video, up to 3 minutes, that presents and explains the game.</li>
            <li>A description of the team’s prior prototyping experience.</li>
        </ol>
        <h3>Computational Art</h3>
        <i>Prototype required for submission. Resubmissions and iterations of previous work will be accepted.</i>
            <p><strong>Individuals and groups will submit works of computational art that (1) explore themes surrounding neuroscience, ethics, technology, and consciousness, (2) respond to real-time data from 2+ brains, and (3) incorporate at least one other type of user interactivity (e.g. mouse movement, camera, etc).</strong> People new to creative code are especially encouraged to participate!</p>
        <p>Submissions should be in the form of a prototype using front-end frameworks (i.e. p5.js, three.js, tone.js, babylon.js, etc) for web graphics, audio, text, social interfaces, or other outputs. Please reference our <a href="https://brainsatplay.com/docs/examples/template/" class="text">p5.js Project Template</a> to integrate the brainsatplay API into your submission. Please reach out to <a href="mailto:contact@brainsatplay.com" class="text">contact@brainsatplay.com</a> for any help on integrating the API into your code.</p>
        <p>To apply to the Computational Art category, please submit the following items via our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a>:
        </p>
        <ol>
            <li>A link to the simple sketch or prototype, running in modern browsers.</li>
            <li>Title of the work.</li>
            <li>A description of the work, how it connects with the contest themes, and/or why you created it (no more than 250 words).</li>
            <li>A description of how you would develop the piece with more time/resources (no more than 250 words).</li>
            <li>A short bio.</li>
        </ol>
</div>

        <span id="awards"></span>
        <br/>
        <h2>Awards</h2>
        <hr/>
        <h3>Process</h3>
        <p><strong>Twelve (12) teams will be distinguished by a panel of expert judges</strong> based on the following merits:</p>
        <ol>
            <li>Relevance to the submission category (1-10)</li>
            <li>Creativity and originality (1-10)</li>
            <li>Documentation and presentation (1-10)</li>
            <li>Consideration of privacy, data protection and other ethical issues (1-10)</li>
            <li>Engagement and fun (1-10)</li>
        </ol>

        <p><strong>Four (4) top teams will be chosen from each of the three Submission Categories</strong> and present their games to an international audience at the Brains and Games Showcase (March 20th, 2021).
            </p>
        <p>Per category, the top teams will be age-stratified:
        </p>
        <ul>
            <li>two (2) teams where the oldest member is aged 18+,</li>
            <li>one (1) team where the oldest member is aged 13-17, and</li>
            <li>one (1) team where the oldest member is younger than 12 years of age.</li>
        </ul>
        <p>Stratification will be adjusted if enough meritorious submissions are not available.</p>

        <h3 style="margin-bottom: 0;">General Awards</h3>
        <i>More awards to be announced soon</i>
        <p>The twelve (12) top teams will be awarded:</p>
        <ul>
            <li><strong>One <a href="https://choosemuse.com/muse-2/" class="text">Muse 2 Headband</a> and mentorship from Brains@Play</strong> to develop game prototypes during Summer 2021.</p>
            </li>
            <ul style="margin-bottom: 20px;"><li>Though mentorship is available to all, we can only guarantee headsets for US-based teams.</li></ul>
            <li><strong>One 3-pack of Ready-Mades of <a href="https://dev.thebrainarchitecturegame.com/" class="text">The Brain Architecture Game</a></strong> (valued at $99 - available to ship only to US and Canadian addresses).</li>
            <li><strong>DIY license coupons for <a href="https://dev.thebrainarchitecturegame.com/" class="text">The Brain Architecture Game</a> for each member of the submitting team</strong> (valued at $99 - available to anyone worldwide).</li>
            <li><strong>An annual pass to the Remote Teams Edition of <a href="https://dev.thebrainarchitecturegame.com/" class="text">The Brain Architecture Game</a> for each member of the submitting team</strong> (valued at $99 - available to anyone worldwide).</li>
        </ul>

        <h3 style="margin-bottom: 0;">Grand Prize</h3>
        <i>Teams must be based in the United States to be eligible for a Grand Prize</i>
        <p>One team from the <strong>VR + Neurotech + Health</strong> submission category will be awarded mentorship from Brains@Play and $5000 from the USC SMART-VR Center and Enosis to develop a functional demo of their game for Fall 2021.
        </p>

        <span id="sponsors"></span>
        <br/>
        <h2>Sponsors</h2>
        <hr/>
        <ul>
            <li><a href="https://games.usc.edu/" class="text">USC Games</a></li>
            <li><a href="http://smartvr.usc.edu/" class="text">USC SMART-VR Center</a></li>
            <li><a href="https://enosis.io/" class="text">Enosis VR</a></li>
            <li><a href="https://visionsandvoices.usc.edu/" class="text">USC Visions and Voices</a></li>
            <li><a href="https://neurotechx.com/" class="text">NeuroTechX</a></li>
            <li><a href="https://cinema.usc.edu/imap/index.cfm" class="text">USC Media Arts + Practice</a></li>
            <li><a href="https://creativecodecollective.github.io/" class="text">USC Creative Code Collective</a></li>
            <li><a href="https://polymathic.usc.edu/ahmanson-lab" class="text">Ahmanson Lab of the USC Sidney Harman Polymathic Academy</a></li>
            <li><a href="http://viterbiadmission.usc.edu/portfolio/corpus-callosum-engineering-art/" class="text">USC Corpus Callosum</a></li>

        </ul>

        <br/>
        <h2>Get Started!</h2>
        <hr/>
        <br/>
        <div class="button-nav flex-left">
            <button onclick="window.location.href='https://discord.gg/eDGQcXGnWc'" rel="noopener">Join our Discord</button>
            <button onclick="window.location.href='/the-game-from-the-future'" rel="noopener">Brainstorm a Game</button>
            <button onclick="window.location.href='/competition/rules.html'" rel="noopener">Review the Rules</button>
            <button onclick="window.location.href='https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL'" rel="noopener">Submit your Game</button>
            <!--                        <button onclick="window.location.href='/games'" rel="noopener">View Submissions</button>-->
        </div>


    </section>

<!--Footer-->
{% include footer.html %}

</div>
</body>
</html>
