---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Brains@Play | Competition</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <div id="competition-header" class="header">
        <h2>Brains and Games</h2>
        <h4>International Design Fiction Competition</h4>
    </div>

    <section>
            <div>
                <div>
                    <h2>Competition</h2>
                    <hr/>
                    <h3>Welcome Gamers!</h3>
                <p>Brains and Games is an international design fiction competition for presenting
                    imaginative ideas for brain-responsive multiplayer experiences.</p>
                    <p class="small"><i>Note:</i> Submission link coming soon...</p>
                </div>
                <div class="button-nav flex-left">
                    <button onclick="window.location.href='/the-game-from-the-future'" rel="noopener">Design your Game</button>
                    <button onclick="window.location.href='/games'" rel="noopener">View Submissions</button>
                </div>
            </div>
        <br/>
        <h3>Timeline</h3>
        <p>February 1st, 2021 — An introductory workshop hosted by Dimitris Grammenos and Garrett Flynn</p>
        <p>March 10th, 2021 — Submission deadline</p>
        <p>March 20th, 2021 — Participants share their submissions and winners will be announced during a virtual event for <a href="https://www.brainawareness.org/" class="text">Brain Awareness Week</a></p>
        <p>May-August, 2021 — Competition winners build working prototypes of their game with mentorship from Brains@Play</p>
        <br/>
        <h3>Prize Categories</h3>
        <h4><strong>General</strong> | USC Games</h4>
        <p>Recognition at our public event during Brain Awareness Week</p>
        <h4><strong>VR + Neurotech + Health</strong> | USC SMART-VR Center </h4>
        <p>Funding to develop a prototype</p>
        <h4><strong>Web-Based Generative Art</strong> | USC Media Arts + Practice</h4>
        <p>A Muse 2 Headband</p>
<!--                <h3>Greek Student Competition</h3>-->
<!--        <hr/>-->
<!--        <p>December 18th - 19th, 2020 — Introductory workshops hosted by Dimitris Grammenos</p>-->
<!--                <p>March 10th, 2021 — Submission deadline</p>-->
<!--                <p>April 13th-18th, 2021 — Participants will present their submissions online at the <a href="http://www.digifest.info/index.php/en/" class="text">Computing at School Festival</a></p>-->
<!--                <p>April 18th, 2021 — Winners announced</a></p>-->
<!--                <h4>Prize Categories</h4>-->
<!--                <ol>-->
<!--                    <li>Primary School</li>-->
<!--                    <li>Gymnasium</li>-->
<!--                    <li>Lyceum</li>-->
<!--                </ol>-->
<!--                    <h4>Submission Requirements</h4>-->
<!--                    <ol>-->
<!--                        <li>Brains and Games Design Document (to be released)</li>-->
<!--                        <li>A 1920x1080 cover image (including the name of the game)</li>-->
<!--                        <li> A video, up to 3’</li>-->
<!--                    </ol>-->
<!--                <p class="small"><i>Note:</i> Submissions to the Greek competition will be managed by the organizers of the Computing at School Festival</p>-->
    </section>

    <!--Footer-->
        {% include footer.html %}

</div>
</body>
</html>
