---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Judges | Brains@Play</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <div id="judges-header" class="header">
        <h2>Our Judges</h2>
        <h4>Brains and Games International Design Fiction Competition</h4>
    </div>

    <section id="judges">
        <h2>Brain Games</h2>
        <hr/>

        <a id="neto" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Marcelo Díaz Viana Neto">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Marcelo Díaz Viana Neto</h3>
                    <i>Hostos Community College</i>
                    <p>
                        Marcelo Díaz Viana Neto is a multi-disciplinary artist working in game design, graphic design, 3D art, and critical pedagogy.</p> </div>
            </div>
        </div>

        <a id="swensen" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/swensen.jpg" alt="Elizabeth Swensen">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Elizabeth Swensen</h3>
                    <i>University of California, Santa Cruz</i>
                    <p>
                        Elizabeth Swensen is an Assistant Professor of Art and Design: Games + Playable Media and Digital Arts and New Media at UC Santa Cruz. Her game design research focuses on metacognitive development outcomes and strategy-based learning in games. Her work with the UCSC Center for Monster Studies additionally explores monstrosity, imposed identity, and the role language plays in enforcing identity.
                    </p> </div>
            </div>
        </div>

        <a id="cameron" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/cameron.jpg" alt="Judy Cameron">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Judy Cameron</h3>
                    <i>University of Pittsburgh</i>
                    <p>
                        Judy Cameron, Ph.D. is a Professor of Psychiatry at the University of Pittsburgh. She has been a

                        member of the MacArthur Foundation Research Network on Early Experience and Brain Development and

                        the National Scientific Council on the Developing Child. She is the Director of Pitt Science Outreach and

                        teaches a course, Translating Science, on how to develop games to translate science to the public. She is the

                        CEO of Working For Kids, an educational company, that uses The Brain Architecture Game and The First

                        Pathways Game to teach the public about how to facilitate sturdy brain development.
                    </p> </div>
            </div>
        </div>

        <a id="cabrera" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/cabrera.jpg" alt="Laura Cabrera">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Laura Cabrera</h3>
                    <i>Michigan State University</i>
                    <p>
                        Dr. Cabrera is Assistant Professor of Neuroethics at the Center for Ethics and Humanities in the Life Sciences at Michigan State University. She is also Faculty Affiliate at Neuroethics Canada, University of British Columbia. An engineer and ethicist by training, Dr. Cabrera works at the intersection ethical, societal and policy implications of neurotechnologies. Dr. Cabrera is Chair of the IEEE Brain Neuroethics Subcommittee, and member of the International Neuroethics Society (INS) Emergent Issues Task Force. Starting March 1, Dr. Cabrera will be joining the Center for Neural Engineering at Penn State University.
                    </p>
                </div>
            </div>
        </div>

        <a id="song" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/about/people/dong.jpg" alt="Dong Song">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Dong Song</h3>
                    <i>University of Southern California</i>
                    <p>
                        Dong Song is a Research Associate Professor of Biomedical Engineering and Co-Director of the Center for Neural Engineering at the University of Southern California (USC).
                    </p>
                    <p>His research interests include nonlinear dynamical modeling of the nervous system, hippocampal memory prosthesis, neural interface technologies, and development of novel modeling strategies incorporating both statistical and mechanistic modeling methods.
                    </p>
                </div>
            </div>
        </div>

        <a id="zacharia" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/zacharia.jpg" alt="Katerina Zacharia">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Katerina Zacharia</h3>
                    <i>Loyola Marymount University</i>
                    <p>
                        Katerina Zacharia is a Professor of Classics at Loyola Marymount University, Los Angeles. Her academic work explores Greek ethnic identity formation, Greek tourism, and cultural politics. She is an experienced dramaturge, narrative design consultant, and an expert on creative adaptations of classical antiquity in visual culture. She serves as artistic associate for the Cacoyannis Foundation in Athens, as Director of Education for the Los Angeles Greek Film Festival, and as treasurer for the Modern Greek Studies Association in America. Prof. Zacharia is an award-winning educator, currently working on an interactive media game drawing on classical drama.
                    </p>
                </div>
            </div>
        </div>


        <a id="reynolds" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/reynolds.jpg" alt="Erin Reynolds">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Erin Reynolds</h3>
                    <i>Flying Mollusk</i>
                    <p>
                        Erin Reynolds is the Chief Mollusk of indie studio Flying Mollusk - which means she is the founder, creative director, and wearer of many hats. Erin has been a part of the game industry within a variety of capacities for about 15 years. She is passionate about the potential games have to empower, educate, and inspire players of all kinds and to make the world a better, more playful place. To this end, Erin founded Flying Mollusk in 2013 to focus on creating edgy games and interactive art that leave a lasting positive impact on the user and the world.
                    </p> </div>
            </div>
        </div>

        <a id="dalmia" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/dalmia.jpeg" alt="Anahita Dalmia">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Anahita Dalmia</h3>
                    <i>Alterea</i>
                    <p>
                        Anahita Dalmia recently graduated with a B.A. in Narrative Studies at the University of Southern California. She is a two-time published author and co-founder of <a href="https://www.altereainc.com/" class="text" target="_blank">Alterea</a> (Yes, it's a play on Alternate Reality). Alterea creates large-scale immersive experiences allowing participants to enter a different world in which they have agency and impact within an unfolding story. In Anahita’s free time, you’re equally likely to find her at a Forbes conference or exploring secret underground tunnels.
                    </p> </div>
            </div>
        </div>

        <a id="dasgupta" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/dasgupta.jpg" alt="Ishan Dasgupta">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Ishan Dasgupta</h3>
                    <i>University of Washington</i>
                    <p>
                        Ishan Dasgupta is a postdoctoral scholar in the Department of Philosophy and the Center of Neurotechnology at the University of Washington. A lawyer by training, Ishan examines ethical issues related to emerging technologies by utilizing qualitative methodology and policy analysis. His past work has focused on patient attitudes towards induced pluripotent stem cells, inclusion of pregnant women in biomedical research, and the use of tissue samples in genetics research. At UW, Ishan will focus on both conceptual and empirical research around the development and use of implantable neural devices like deep brain stimulators and brain computer interfaces.
                    </p> </div>
            </div>
        </div>

        <a id="nadler" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/nadler.jpg" alt="Roland Nadler">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Roland Nadler</h3>
                    <i>University of British Columbia</i>
                    <p>
                        Roland Nadler is a PhD student at the University of British Columbia’s Peter A. Allard School of Law. He previously taught courses including Law and Neuroscience at the University of Ottawa, and served as a Fellow with the Center for Law and the Biosciences at Stanford Law School, where he also earned his JD.
                    </p> </div>
            </div>
        </div>

        <a id="healy" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Pat Healy">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Pat Healy</h3>
                    <i>University of Pittsburgh</i>
                    <p>
                        Pat Healy is a PhD Student in Information Science.
                    </p> </div>
            </div>
        </div>

        <h2>VR + Neurotech + Health</h2>
        <hr/>
        <a id="gotsis" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/about/people/marientina.jpg" alt="Marientina Gotsis">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Marientina Gotsis</h3>
                    <i>University of Southern California</i>
                    <p>
                        Marientina Gotsis has a broad background in arts, design and engineering with a special interest in interactive entertainment applications for health, happiness and rehabilitation. She founded and leads USC's Games for Health Initiative since 2007, connecting health professionals with innovation in various forms of interactive media.
                    </p>
                    <p>She is co-founder and director of the <a href="http://cmbhc.usc.edu/" class="text">Creative Media & Behavioral Health Center</a>, an organized research unit between the School of Cinematic Arts and the Keck School of Medicine, which was established in 2010. This center designs, develops and evaluates entertainment applications at the intersection of behavioral science, medicine and public health.
                    </p> </div>
            </div>
        </div>

        <a id="liew" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Sook-Lei Liew">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sook-Lei Liew</h3>
                    <i>University of Southern California</i>
                    <p>
                        Sook-Lei Liew is an Assistant Professor of Occupational Science and Occupational Therapy.
                    </p> </div>
            </div>
        </div>

        <a id="finley" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="James Finley">
            </div>
            <div class="right-feature">
                <div>
                    <h3>James Finley</h3>
                    <i>University of Southern California</i>
                    <p>
                        James Finley is an Associate Professor of Biokinesiology and Physical Therapy.
                    </p>
                </div>
            </div>
        </div>

        <a id="winstein" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/winstein.jpg" alt="Carolee Winstein">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Carolee Winstein</h3>
                    <i>University of Southern California</i>
                    <p>
                        Carolee J. Winstein is a faculty member in the interdisciplinary Neuroscience Graduate Program. She oversees an interdisciplinary research program focused on understanding rehabilitation outcomes at the systems level and promoting optimal recovery of goal-directed movement behaviors that emerge from a dynamic brain-behavior system in brain-damaged conditions.</p>
                <p>For more than 20 years, she has consistently received research funding from the National Institutes of Health, the National Institute on Disability, Independent Living, and Rehabilitation Research, and the Foundation for Physical Therapy. She has been affiliated with the Neuroscience Graduate Program since 1998 and holds a joint appointment in the Department of Neurology at Keck School of Medicine of USC.</p></div>
            </div>
        </div>

        <a id="fisher" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Scott Fisher">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Scott Fisher</h3>
                    <i>University of Southern California</i>
                    <p>
                        Scott Fisher is a Professor in the Media Arts + Practice Division, founding Chair of the Interactive Media Division, and Director of USC’s Mobile & Environmental Media Lab at the USC School of Cinematic Arts. He is an interaction designer whose work focuses primarily on mobile media, interactive environments and technologies of presence.
                    </p>
                </div>
            </div>
        </div>

        <a id="vangelis" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/lympouridis.jpeg" alt="Vangelis Lympouridis">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Vangelis Lympouridis</h3>
                    <i>Enosis</i>
                    <p>
                        Vangelis Lympouridis, Ph.D., is part-time faculty at the Viterbi School of Engineering at USC, teaching AR/VR and Mixed Reality, and a senior researcher at the Creative Media and Behavioral Health Center. He is an expert in virtual reality and interactive media and offers his services in both the industry and academia. He was the Chief Design Officer at Applied VR, overseeing a series of Medical VR products and leading R&D. He is the founder of Enosis, a specialized company offering innovation by design and strategic advisory services in emerging and immersive tech across industry verticals.
                    </p>
                </div>
            </div>
        </div>

        <a id="klein" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Eran Klein">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Eran Klein</h3>
                    <i>Oregon Health and Science University | University of Washington</i>
                    <p>
                        Eran Klein is a Neurologist and Affiliate Assistant Professor of Philosophy.
                    </p> </div>
            </div>
        </div>

        <a id="young" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Michael Young">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Michael Young</h3>
                    <i>Massachusetts General Hospital | Harvard Medical School</i>
                    <p>
                        Michael Young is a Neurologist.
                    </p> </div>
            </div>
        </div>

        <a id="molnar" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Adam Molnar">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Adam Molnar</h3>
                    <i>Neurable</i>
                    <p>
                        Adam Molnar is a cofounder and the Head of Partnerships at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="siebert" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Brandon Siebert">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Brandon Siebert</h3>
                    <i>Neurable</i>
                    <p>
                        Brandon Siebert is a software engineer at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="stanley" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="David Stanley">
            </div>
            <div class="right-feature">
                <div>
                    <h3>David Stanley</h3>
                    <i>Neurable</i>
                    <p>
                        David Stanley is a machine learning engineer at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="orozco" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Max Orozco">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Max Orozco</h3>
                    <i>Lumeum</i>
                    <p>
                        Max Orozco is a cofounder and the Head of Product of Lumeum.
                    </p>
                </div>
            </div>
        </div>

        <a id="brown" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Tim Brown">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Tim Brown</h3>
                    <i>University of Washington</i>
                    <p>
                        Tim Brown is a Postdoctoral Scholar of Neuroethics.
                    </p>
                </div>
            </div>
        </div>


        <a id="schonau" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/schonau.jpg" alt="Andreas Schönau">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Andreas Schönau</h3>
                    <i>University of Washington</i>
                    <p>
                        Andreas Schönau is a Postdoctoral Scholar in the Department of Philosophy and Center for Neurotechnology at the University of Washington in Seattle. His past research focused on the clarification of conceptual theories and empirical methods in philosophical and neuroscientific research, the interdisciplinary combination of their respective insights, and the generation of conclusions towards understanding the phenomenon of free will from an action-theoretical perspective. At the University of Washington, he continues working on agency-related issues in the intersection of Neuroscience and Philosophy. Furthermore, he is interested in emerging issues of Artificial Intelligence and Virtual Reality applications.
                    </p>
                </div>
            </div>
        </div>

        <a id="amores" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Judith Amores Fernandez">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Judith Amores Fernandez</h3>
                    <i>MIT Media Lab, Fluid Interfaces Group</i>
                    <p>
                        Judith Amores Fernandez is a Research Affiliate at the Fluid Interfaces Group of the MIT Media Lab.
                    </p>
                </div>
            </div>
        </div>

        <a id="kosmyna" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                                <img src="/competition/judges/kosmyna.jpg" alt="Nataliya Kosmyna">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Nataliya Kosmyna</h3>
                    <i>MIT Media Lab, Fluid Interfaces Group | CEO Braini</i>
                    <p>
                        Nataliya obtained her Ph.D in 2015 in the domain of non-invasive Brain-Computer Interfaces (BCIs) from Université Grenoble-Alpes, France. Before joining MIT Media Lab - Fluid Interfaces group in 2017, she was a post-doc at Hybrid team (VR/AR), Inria Rennes, France. Nataliya worked for the past 12 years on designing solutions to control drones, robots, video games, home appliances using brain activity. Nataliya is also interested in closed-loop systems to enhance and augment human performance, particularly attention and focus. Nataliya won multiple awards for her work. Check Nataliya’s <a href="http://braini.io" class="text" target="_blank">website</a> to learn more about her work.
                    </p>
                </div>
            </div>
        </div>

        <a id="bernal" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/bernal.jpeg" alt="Guillermo Bernal">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Guillermo Bernal</h3>
                    <i>MIT Media Lab, Fluid Interfaces Group</i>
                    <p>
                        Guillermo is a Ph.D. candidate at the MIT Media Lab. He focuses on the back-and-forth between the physical and the virtual. His research explores embodiment and experiences that address the augmentation of ourselves as technology integrated into our lives. This is done by assessing the body's emotional response while interacting with future technologies as they become a reality. His current research explorations use real body characteristics, including electroencephalogram, electrodermal activity, electromyography, and electrocardiography, as low-fidelity indicators of our current mental state. Guillermo's work has been published in academic conferences like NeurIPS, CHI, PETRA, ISWC, design workshops SmartGeometry, and distinguish websites like evolo, design-milk, and detail-online.
                    </p>
                </div>
            </div>
        </div>

        <a id="batchelor" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/batchelor.png" alt="Sophia Batchelor">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sophia Batchelor</h3>
                    <i>University of Leeds</i>
                    <p>
                        Sophia Batchelor is a PhD student with the University of Leeds and Center for Immersive Technologies. Her research works to understand the neuroscience of virtual reality, focusing on how our brains interpret and allow us to interact with the world - formally; generalisation and transfer of sensorimotor adaptation. She continues her work on neurotechnologies alongside her PhD after launching Neurosity's Notion as the Neuroscientist in Residence.
                    </p><p>
                        Sophia also works on ethics and biopolitics as a contributor to both The Alan Turing Institute's Open Source projects, and Open Mined's privacy preserving technologies.
                    </p>
                </div>
            </div>
        </div>

        <h2>Computational Art</h2>
        <hr/>

        <a id="kratky" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Andreas Kratky">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Andreas Kratky</h3>
                    <i>University of Southern California</i>
                    <p>
                        Andreas Kratky is the Chair of the Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

        <a id="benzon" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Kiki Benzon">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Kiki Benzon</h3>
                    <i>University of Southern California</i>
                    <p>
                        Kiki Benzon is an Associate Professor of Practice in Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

        <a id="moser" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Margaret Moser">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Margaret Moser</h3>
                    <i>University of Southern California</i>
                    <p>
                        Margaret Moser is an Assistant Professor of the Practice of Cinematic Arts.
                    </p>
                </div>
            </div>
        </div>

        <a id="zevin" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Jason Zevin">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Jason Zevin</h3>
                    <i>University of Southern California</i>
                    <p>
                        Jason Zevin is an Associate Professor of Psychology and Linguistics.
                    </p>
                </div>
            </div>
        </div>

        <a id="nijholt" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/nijholt.jpg" alt="Anton Nijholt">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Anton Nijholt</h3>
                    <i>University of Twente</i>
                    <p>
                        Anton Nijholt is Professor-Emeritus of the University of Twente, the Netherlands. He held positions at various universities, companies, and institutes in various countries (Belgium, Netherlands, Malaysia, Canada). Current interests are in human-computer interaction, entertainment computing, affective computing, humor research, playable cities, and brain-computer interfacing. Nijholt is chief-editor of the specialty section Human-Media Interaction of the journals Frontiers in Psychology and Frontiers in Computer Science. In addition to books on Playable Cities, Nijholt is editor of the 2018 Taylor & Francis book Brain-Computer Interfaces Handbook and the 2019 Springer book “Brain Art: Brain-Computer Interfaces for Artistic Expression.”
                    </p>
                </div>
            </div>
        </div>

        <a id="sobell" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/sobell.jpeg" alt="Nina Sobell">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Nina Sobell</h3>
                    <p>
                        Nina Sobell pioneered neuro-communication between two or more people locally and on the web, interactive brain art, internet performance and is collected internationally.
                    </p>
                </div>
            </div>
        </div>

        <a id="sakr" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                    <img src="/competition/judges/placeholder.png" alt="Laila Shereen Sakr">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Laila Shereen Sakr</h3>
                    <i>University of California, Santa Barbara</i>
                    <p>
                        Laila Shereen Sakr is an Assistant Professor of Media Theory & Practice at the University of California, Santa Barbara.
                    </p>
                </div>
            </div>
        </div>

        <a id="hollenbach" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Kate Hollenbach">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Kate Hollenbach</h3>
                    <i>DePaul University</i>
                    <p>
                        Kate Hollenbach is an artist, programmer, and educator based in Chicago, Illinois and Los Angeles, California. She develops and examines interactive systems and new technologies relating body, gesture, and physical space. Her recent work includes phonelovesyoutoo, an Android application that lovingly watches its user’s activities by capturing video from the phone’s front camera, back camera, and screen. Through the application, Kate generates video works to understand what mobile devices see when they observe human bodies and how human presence is split between physical and virtual planes.
                    </p>
                </div>
            </div>
        </div>


        <a id="dikker" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/dikker.jpeg" alt="Suzanne Dikker">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Suzanne Dikker</h3>
                    <i>New York University</i>
                    <p>
                        Suzanne Dikker’s work merges cognitive neuroscience, performance art and education. She uses a ‘crowdsourcing’ neuroscience approach to bring human brain and behavior research out of the lab, into real-world, everyday situations, with the goal to characterize the brain basis of dynamic human social communication. As a senior research scientist at the Max Planck — NYU Center for Language, Music and Emotion (CLaME), affiliate research scientist at the Amsterdam Emotion Regulation Lab, and member of the art/science collective OOSTRIK + DIKKER,, Suzanne leads various research projects, including MindHive, a citizen science platform that supports community-based initiatives and student-teacher-scientist partnerships for human brain and behavior research.
                    </p>
                </div>
            </div>
        </div>

        <a id="oostrik" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="Matthias Oostrik">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Matthias Oostrik</h3>
                    <p>
                        Matthias Oostrik collaborates with his audience to explore digital technologies. His interactive installations investigate the impact of digital technology on our surroundings and its influence on our relationships with others.
                    </p>
                </div>
            </div>
        </div>

        <a id="medine" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="David Medine">
            </div>
            <div class="right-feature">
                <div>
                    <h3>David Medine</h3>
                    <i>Diademics Pty Ltd.</i>
                    <p>
                        David Medine is the director of Diademics Pty Ltd.
                    </p>
                </div>
            </div>
        </div>

        <a id="castillo" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/castillo.jpg" alt="Alex Castillo">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Alex Castillo</h3>
                    <i>Neurosity</i>
                    <p>
                        Alex is a co-founder at Neurosity, a Developer Expert at Google, and formerly a Software Engineer at Netflix. He is passionate about the human brain and how we can use technology to understand it better. Alex believes we can empower the mind and change how humans interact with computers.
                    </p>
                </div>
            </div>
        </div>

        <a id="keller" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/placeholder.png" alt="AJ Keller">
            </div>
            <div class="right-feature">
                <div>
                    <h3>AJ Keller</h3>
                    <i>Neurosity</i>
                    <p>
                        AJ Keller is a cofounder of Neurosity.
                    </p>
                </div>
            </div>
        </div>

        <a id="greenberg" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/greenberg.jpg" alt="Jeremy Greenberg">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Jeremy Greenberg</h3>
                    <i>Future of Privacy Forum</i>
                    <p>
                        Jeremy Greenberg is a Policy Counsel with Future of Privacy Forum (FPF) where he works to promote responsible data use in emerging technology. Prior to that, Jeremy served as a Policy Fellow with FPF where he worked on issues around privacy legislation, artificial intelligence, and advertising technology. Before joining FPF, Jeremy was a Law Clerk in the Office of U.S. Senator Ed Markey where he focused on a number of telecom and privacy items. Jeremy holds a J.D. from Georgetown University School of Law and a B.S. in Cinema, Photography and Media Arts from Ithaca College.
                    </p>
                </div>
            </div>
        </div>

        <a id="ciston" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
    <img src="/competition/judges/placeholder.png" alt="Sarah Ciston">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sarah Ciston</h3>
                    <i>University of Southern California</i>
                    <p>
                        Sarah Ciston is a PhD Candidate in Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!--Footer-->
        {% include footer.html %}

</div>
</body>
</html>
