---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Judges | Brains@Play</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <div id="judges-header" class="header">
        <h2>Our Judges</h2>
        <h4>Brains and Games International Design Fiction Competition</h4>
    </div>

    <section id="judges">
        <h2>Brain Games</h2>
        <hr/>

        <a id="neto" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/neto.jpg" alt="Marcelo Díaz Viana Neto">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Marcelo Díaz Viana Neto</h3>
                    <i>Hostos Community College</i>
                    <p>
                        Marcelo Díaz Viana Neto is a multi-disciplinary artist working in game design, graphic design, 3D art, and critical pedagogy.</p> </div>
            </div>
        </div>

        <a id="swensen" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/swensen.jpg" alt="Elizabeth Swensen">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Elizabeth Swensen</h3>
                    <i>University of California, Santa Cruz</i>
                    <p>
                        Elizabeth Swensen is an Assistant Professor of Digital Art and New Media.
                    </p> </div>
            </div>
        </div>

        <a id="cameron" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/cameron.jpg" alt="Judy Cameron">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Judy Cameron</h3>
                    <i>University of Pittsburgh</i>
                    <p>
                        Judy Cameron is a Professor of Psychiatry.
                    </p> </div>
            </div>
        </div>

        <a id="cabrera" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/cabrera.jpg" alt="Laura Cabrera">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Laura Cabrera</h3>
                    <i>Michigan State University</i>
                    <p>
                        Dr. Cabrera is Assistant Professor of Neuroethics at the Center for Ethics and Humanities in the Life Sciences at Michigan State University. She is also Faculty Affiliate at Neuroethics Canada, University of British Columbia. An engineer and ethicist by training, Dr. Cabrera works at the intersection ethical, societal and policy implications of neurotechnologies. Dr. Cabrera is Chair of the IEEE Brain Neuroethics Subcommittee, and member of the International Neuroethics Society (INS) Emergent Issues Task Force. Starting March 1, Dr. Cabrera will be joining the Center for Neural Engineering at Penn State University.
                    </p>
                </div>
            </div>
        </div>

        <a id="song" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/about/people/dong.jpg" alt="Dong Song">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Dong Song</h3>
                    <i>University of Southern California</i>
                    <p>
                        Dong Song is a Research Associate Professor of Biomedical Engineering and Co-Director of the Center for Neural Engineering at the University of Southern California (USC).
                    </p>
                    <p>His research interests include nonlinear dynamical modeling of the nervous system, hippocampal memory prosthesis, neural interface technologies, and development of novel modeling strategies incorporating both statistical and mechanistic modeling methods.
                    </p>
                </div>
            </div>
        </div>

        <a id="zacharia" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="/about/people/zacharia.jpg" alt="Katerina Zacharia">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Katerina Zacharia</h3>
                    <i>Loyola Marymount University</i>
                    <p>
                        Katerina Zacharia is Professor of Classics.
                    </p>
                </div>
            </div>
        </div>


        <a id="reynolds" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/reynolds.jpg" alt="Erin Reynolds">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Erin Reynolds</h3>
                    <i>Flying Mollusk</i>
                    <p>
                        Erin Reynolds is the founder and creative director of Flying Mollusk.
                    </p> </div>
            </div>
        </div>

        <a id="dalmia" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/dalmia.jpg" alt="Anahita Dalmia">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Anahita Dalmia</h3>
                    <i>Alterea</i>
                    <p>
                        Anahita Dalmia is a cofounder and the CEO pf Alterea.
                    </p> </div>
            </div>
        </div>

        <a id="dasgupta" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/dasgupta.jpg" alt="Ishan Dasgupta">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Ishan Dasgupta</h3>
                    <i>University of Washington</i>
                    <p>
                        Ishan Dasgupta is a Postdoctoral Scholar of Neuroethics.
                    </p> </div>
            </div>
        </div>

        <a id="nadler" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/nadler.jpg" alt="Roland Nadler">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Roland Nadler</h3>
                    <i>University of British Columbia</i>
                    <p>
                        Roland Nadler is a PhD student at the University of British Columbia’s Peter A. Allard School of Law. He previously taught courses including Law and Neuroscience at the University of Ottawa, and served as a Fellow with the Center for Law and the Biosciences at Stanford Law School, where he also earned his JD.
                    </p> </div>
            </div>
        </div>

        <a id="healy" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/healy.jpg" alt="Pat Healy">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Pat Healy</h3>
                    <i>University of Pittsburgh</i>
                    <p>
                        Pat Healy is a PhD Student in Information Science.
                    </p> </div>
            </div>
        </div>

        <h2>VR + Neurotech + Health</h2>
        <hr/>
        <a id="gotsis" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/about/people/marientina.jpg" alt="Marientina Gotsis">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Marientina Gotsis</h3>
                    <i>University of Southern California</i>
                    <p>
                        Marientina Gotsis has a broad background in arts, design and engineering with a special interest in interactive entertainment applications for health, happiness and rehabilitation. She founded and leads USC's Games for Health Initiative since 2007, connecting health professionals with innovation in various forms of interactive media.
                    </p>
                    <p>She is co-founder and director of the <a href="http://cmbhc.usc.edu/" class="text">Creative Media & Behavioral Health Center</a>, an organized research unit between the School of Cinematic Arts and the Keck School of Medicine, which was established in 2010. This center designs, develops and evaluates entertainment applications at the intersection of behavioral science, medicine and public health.
                    </p> </div>
            </div>
        </div>

        <a id="liew" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/liew.jpg" alt="Sook-Lei Liew">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sook-Lei Liew</h3>
                    <i>University of Southern California</i>
                    <p>
                        Sook-Lei Liew is an Assistant Professor of Occupational Science and Occupational Therapy.
                    </p> </div>
            </div>
        </div>

        <a id="finley" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="/competition/judges/finley.jpg" alt="James Finley">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>James Finley</h3>
                    <i>University of Southern California</i>
                    <p>
                        James Finley is an Associate Professor of Biokinesiology and Physical Therapy.
                    </p>
                </div>
            </div>
        </div>

        <a id="winstein" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/winstein.jpg" alt="Carolee Winstein">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Carolee Winstein</h3>
                    <i>University of Southern California</i>
                    <p>
                        Carolee J. Winstein is a faculty member in the interdisciplinary Neuroscience Graduate Program. She oversees an interdisciplinary research program focused on understanding rehabilitation outcomes at the systems level and promoting optimal recovery of goal-directed movement behaviors that emerge from a dynamic brain-behavior system in brain-damaged conditions.</p>
                <p>For more than 20 years, she has consistently received research funding from the National Institutes of Health, the National Institute on Disability, Independent Living, and Rehabilitation Research, and the Foundation for Physical Therapy. She has been affiliated with the Neuroscience Graduate Program since 1998 and holds a joint appointment in the Department of Neurology at Keck School of Medicine of USC.</p></div>
            </div>
        </div>

        <a id="fisher" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="/competition/judges/fisher.jpg" alt="Scott Fisher">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Scott Fisher</h3>
                    <i>University of Southern California</i>
                    <p>
                        Scott Fisher is a Professor in the Media Arts + Practice Division, founding Chair of the Interactive Media Division, and Director of USC’s Mobile & Environmental Media Lab at the USC School of Cinematic Arts. He is an interaction designer whose work focuses primarily on mobile media, interactive environments and technologies of presence.
                    </p>
                </div>
            </div>
        </div>

        <a id="vangelis" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/vangelis.jpg" alt="Vangelis Lympouridis">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Vangelis Lympouridis</h3>
                    <i>Enosis VR</i>
                    <p>
                        Vangelis Lympouridis is the founder of Enosis VR.
                    </p>
                </div>
            </div>
        </div>

        <a id="klein" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/klein.jpg" alt="Eran Klein">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Eran Klein</h3>
                    <i>Oregon Health and Science University | University of Washington</i>
                    <p>
                        Eran Klein is a Neurologist and Affiliate Assistant Professor of Philosophy.
                    </p> </div>
            </div>
        </div>

        <a id="young" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/young.jpg" alt="Michael Young">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Michael Young</h3>
                    <i>Massachusetts General Hospital | Harvard Medical School</i>
                    <p>
                        Michael Young is a Neurologist.
                    </p> </div>
            </div>
        </div>

        <a id="molnar" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/molnar.jpg" alt="Adam Molnar">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Adam Molnar</h3>
                    <i>Neurable</i>
                    <p>
                        Adam Molnar is a cofounder and the Head of Partnerships at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="siebert" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/siebert.jpg" alt="Brandon Siebert">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Brandon Siebert</h3>
                    <i>Neurable</i>
                    <p>
                        Brandon Siebert is a software engineer at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="stanley" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/stanley.jpg" alt="David Stanley">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>David Stanley</h3>
                    <i>Neurable</i>
                    <p>
                        David Stanley is a machine learning engineer at Neurable.
                    </p>
                </div>
            </div>
        </div>

        <a id="orozco" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/orozco.jpg" alt="Max Orozco">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Max Orozco</h3>
                    <i>Lumeum</i>
                    <p>
                        Max Orozco is a cofounder and the Head of Product of Lumeum.
                    </p>
                </div>
            </div>
        </div>

        <a id="brown" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/brown.jpg" alt="Tim Brown">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Tim Brown</h3>
                    <i>University of Washington</i>
                    <p>
                        Tim Brown is a Postdoctoral Scholar of Neuroethics.
                    </p>
                </div>
            </div>
        </div>


        <a id="schonau" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/schonau.jpg" alt="Andreas Schönau">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Andreas Schönau</h3>
                    <i>University of Washington</i>
                    <p>
                        Andreas Schönau is a Postdoctoral Scholar in the Department of Philosophy and Center for Neurotechnology at the University of Washington in Seattle. His past research focused on the clarification of conceptual theories and empirical methods in philosophical and neuroscientific research, the interdisciplinary combination of their respective insights, and the generation of conclusions towards understanding the phenomenon of free will from an action-theoretical perspective. At the University of Washington, he continues working on agency-related issues in the intersection of Neuroscience and Philosophy. Furthermore, he is interested in emerging issues of Artificial Intelligence and Virtual Reality applications.
                    </p>
                </div>
            </div>
        </div>

        <a id="amores" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/amores.jpg" alt="Judith Amores Fernandez">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Judith Amores Fernandez</h3>
                    <i>MIT Media Lab</i>
                    <p>
                        Judith Amores Fernandez is a Research Affiliate at the Fluid Interfaces Group of the MIT Media Lab.
                    </p>
                </div>
            </div>
        </div>

        <a id="kosmyna" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/kosmyna.jpg" alt="Nataliya Kos'myna">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Nataliya Kos'myna</h3>
                    <i>MIT Media Lab</i>
                    <p>
                        Nataliya Kos'myna is a Postdoctoral Associate at the Fluid Interfaces Group of the MIT Media Lab.
                    </p>
                </div>
            </div>
        </div>

        <a id="bernal" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/bernal.jpg" alt="Guillermo Bernal">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Guillermo Bernal</h3>
                    <i>MIT Media Lab | Fluid Interfaces</i>
                    <p>
                        Guillermo Bernal is a Ph.D. candidate at the Fluid Interfaces Group of the MIT Media Lab.
                    </p>
                </div>
            </div>
        </div>

        <a id="batchelor" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/batchelor.png" alt="Sophia Batchelor">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sophia Batchelor</h3>
                    <i>University of Leeds</i>
                    <p>
                        Sophia Batchelor is a PhD student with the University of Leeds and Center for Immersive Technologies. Her research works to understand the neuroscience of virtual reality, focusing on how our brains interpret and allow us to interact with the world - formally; generalisation and transfer of sensorimotor adaptation. She continues her work on neurotechnologies alongside her PhD after launching Neurosity's Notion as the Neuroscientist in Residence.
                    </p><p>
                        Sophia also works on ethics and biopolitics as a contributor to both The Alan Turing Institute's Open Source projects, and Open Mined's privacy preserving technologies.
                    </p>
                </div>
            </div>
        </div>

        <h2>Computational Art</h2>
        <hr/>

        <a id="kratky" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/kratky.jpg" alt="Andreas Kratky">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Andreas Kratky</h3>
                    <i>University of Southern California</i>
                    <p>
                        Andreas Kratky is the Chair of the Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

        <a id="benzon" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/benzon.jpg" alt="Kiki Benzon">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Kiki Benzon</h3>
                    <i>University of Southern California</i>
                    <p>
                        Kiki Benzon is an Associate Professor of Practice in Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

        <a id="moser" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/moser.jpg" alt="Margaret Moser">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Margaret Moser</h3>
                    <i>University of Southern California</i>
                    <p>
                        Margaret Moser is an Assistant Professor of the Practice of Cinematic Arts.
                    </p>
                </div>
            </div>
        </div>

        <a id="zevin" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/zevin.jpg" alt="Jason Zevin">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Jason Zevin</h3>
                    <i>University of Southern California</i>
                    <p>
                        Jason Zevin is an Associate Professor of Psychology and Linguistics.
                    </p>
                </div>
            </div>
        </div>

        <a id="nijholt" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/nijholt.jpg" alt="Anton Nijholt">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Anton Nijholt</h3>
                    <i>University of Twente</i>
                    <p>
                        Anton Nijholt is Professor-Emeritus of the University of Twente, the Netherlands. He held positions at various universities, companies, and institutes in various countries (Belgium, Netherlands, Malaysia, Canada). Current interests are in human-computer interaction, entertainment computing, affective computing, humor research, playable cities, and brain-computer interfacing. Nijholt is chief-editor of the specialty section Human-Media Interaction of the journals Frontiers in Psychology and Frontiers in Computer Science. In addition to books on Playable Cities, Nijholt is editor of the 2018 Taylor & Francis book Brain-Computer Interfaces Handbook and the 2019 Springer book “Brain Art: Brain-Computer Interfaces for Artistic Expression.”
                    </p>
                </div>
            </div>
        </div>

        <a id="sobell" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/sobell.jpg" alt="Nina Sobell">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Nina Sobell</h3>
                    <p>
                        Nina Sobell is a BCI artist.
                    </p>
                </div>
            </div>
        </div>

        <a id="sakr" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/sakr.jpg" alt="Laila Shereen Sakr">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Laila Shereen Sakr</h3>
                    <i>University of California, Santa Barbara</i>
                    <p>
                        Laila Shereen Sakr is an Assistant Professor of Media Theory & Practice at the University of California, Santa Barbara.
                    </p>
                </div>
            </div>
        </div>

        <a id="hollenbach" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <!--                <img src="judges/hollenbach.jpg" alt="Kate Hollenbach">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Kate Hollenbach</h3>
                    <i>DePaul University</i>
                    <p>
                        Kate Hollenbach is an artist, programmer, and educator based in Chicago, Illinois and Los Angeles, California. She develops and examines interactive systems and new technologies relating body, gesture, and physical space. Her recent work includes phonelovesyoutoo, an Android application that lovingly watches its user’s activities by capturing video from the phone’s front camera, back camera, and screen. Through the application, Kate generates video works to understand what mobile devices see when they observe human bodies and how human presence is split between physical and virtual planes.
                    </p>
                </div>
            </div>
        </div>


        <a id="dikker" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="/competition/judges/dikker.jpeg" alt="Suzanne Dikker">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Suzanne Dikker</h3>
                    <i>New York University</i>
                    <p>
                        Suzanne Dikker’s work merges cognitive neuroscience, performance art and education. She uses a ‘crowdsourcing’ neuroscience approach to bring human brain and behavior research out of the lab, into real-world, everyday situations, with the goal to characterize the brain basis of dynamic human social communication. As a senior research scientist at the Max Planck — NYU Center for Language, Music and Emotion (CLaME), affiliate research scientist at the Amsterdam Emotion Regulation Lab, and member of the art/science collective OOSTRIK + DIKKER,, Suzanne leads various research projects, including MindHive, a citizen science platform that supports community-based initiatives and student-teacher-scientist partnerships for human brain and behavior research.
                    </p>
                </div>
            </div>
        </div>

        <a id="castillo" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/castillo.jpg" alt="Alex Castillo">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Alex Castillo</h3>
                    <i>Neurosity</i>
                    <p>
                        Alex Castillo is a cofounder of Neurosity.
                    </p>
                </div>
            </div>
        </div>

        <a id="keller" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/keller.jpg" alt="AJ Keller">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>AJ Keller</h3>
                    <i>Neurosity</i>
                    <p>
                        AJ Keller is a cofounder of Neurosity.
                    </p>
                </div>
            </div>
        </div>

        <a id="greenberg" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
                <img src="judges/greenberg.jpg" alt="Jeremy Greenberg">
            </div>
            <div class="right-feature">
                <div>
                    <h3>Jeremy Greenberg</h3>
                    <i>Future of Privacy Forum</i>
                    <p>
                        Jeremy Greenberg is a Policy Counsel with Future of Privacy Forum (FPF) where he works to promote responsible data use in emerging technology. Prior to that, Jeremy served as a Policy Fellow with FPF where he worked on issues around privacy legislation, artificial intelligence, and advertising technology. Before joining FPF, Jeremy was a Law Clerk in the Office of U.S. Senator Ed Markey where he focused on a number of telecom and privacy items. Jeremy holds a J.D. from Georgetown University School of Law and a B.S. in Cinema, Photography and Media Arts from Ithaca College.
                    </p>
                </div>
            </div>
        </div>

        <a id="ciston" class="feature-anchor"></a>
        <div class="feature">
            <div class="left-feature">
<!--                <img src="judges/ciston.jpg" alt="Sarah Ciston">-->
            </div>
            <div class="right-feature">
                <div>
                    <h3>Sarah Ciston</h3>
                    <i>University of Southern California</i>
                    <p>
                        Sarah Ciston is a PhD Candidate in Media Arts + Practice Division.
                    </p>
                </div>
            </div>
        </div>

    </section>

    <!--Footer-->
        {% include footer.html %}

</div>
</body>
</html>
