---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
    <link rel="icon" href="/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <title>Competition Rules | Brains@Play</title>
</head>
<body>
<div id="app">
    <!--Navbar-->
    {% include nav.html %}

    <br>
    <br>
    <section>
                    <h1><strong>Competition Rules</strong></h1>
        <p>The Brains and Games Competition (BGC) is organized by <a href="/about" class="text">Brains@Play</a>. Entry to the BGC is free.
                    </p>
        <p><strong>Please read these Rules carefully.</strong> By participating in the BGC or using the Brains@Play website, you accept and abide by the policies stated below. If you have any questions regarding the BGC, you can send an email at <a href="mailto:contact@brainsatplay.com" class="text">contact@brainsatplay.com</a>.
        </p>
        <p><strong>All participants (or their parent / guardian, if they are under 18 years old) will be required to acknowledge that they have read these Rules and will comply with them before entering into the Competition.</strong> If you are a parent or legal guardian agreeing to these rules for the benefit of a child, you are fully responsible for his or her entry in the Competition.
        </p>
        <div class="button-nav flex-left">
        <button onclick="window.location.href='#policies'">Policies</button>
        <button onclick="window.location.href='#code'">Code of Conduct</button>
        </div>
        <br/>
        <span id="policies"></span>
        <h2>Policies</h2>
        <hr/>

        <h3>Eligibility Policy</h3>
        <p>Anyone in the world may submit to the Brains and Games Competition. If not a legal adult in the country in which you participate in the BGC, participants must attach a signed <a href="/competition/ParentConsent.pdf" class="text">parent/guardian consent form</a> to their submission.
        </p>
        <p>Non-recognition prizes can only be guaranteed for participants residing in the United States.
        </p>
        <h3>Content Policy</h3>
        <p>The Brains and Games Competition (BGC) focuses on bringing communities together around collaboration, innovation, and experimentation as they envision a future of brain-responsive multiplayer games. ‬All participants submit their ideas and prototypes through our <a href="https://usc.qualtrics.com/jfe/form/SV_4MCmbwJVGnPheZL" class="text">web form</a>.
        </p>
        <p>
            Game ideas are uploaded under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="text">Attribution-NonCommercial-ShareAlike 4.0 Creative Commons license.
        </a></p>
        <p>This basically means the team that designed the game owns the original content and can do with it as they please—but also that Brains@Play retains an original copy of the submission or prototype that other people can download, modify and distribute for non-commercial purposes.</p>
        <p>Brains@Play also reserves the right to remove any uploaded games if the content is offensive or unsuitable. This ‬includes but is not limited to:‭ games with ‬harmful‭ ‬or‭ ‬prejudicial‭ themes related‭ ‬to‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ age, ‬ability,‭ ‬appearance, ethnicity,‭ national origin, ‬citizenship, socioeconomic‭ ‬status,‭ ‬or‭ ‬religion‭. If you see a game being created, or find a game on our site which would violate these terms email contact@brainsatplay.com.</p>
        <p>By entering the Competition you, or  – if under 18 years old – your parent or guardian, confirm that, to the best of your knowledge, you own all Intellectual Property Rights (“IPRs”) subsisting in your entry to the Competition and that your entry does not infringe any third party’s IPRs.</p>
        <h3>Judging Policy</h3>
        <p>All entries will be judged by a <a href="https://brainsatplay.com/competition/judges" class="text">panel of experts</a> in neuroscience, ethics, interactive media, and other fields. Decisions made by the judging panels are final. No correspondence will be entered into. The composition of the panel may vary. The panel reserves the right to disqualify submitted entries at its sole discretion, if considered to be plagiarisms, morally or ethically questionable, and/or offensive – whether intentionally or not.</p>
        <p>Winners will be announced on the <a href="/competition" class="text">Competition website</a> on March 15th and will also be notified via email. The prizes are personal to the winners and non-transferable. No cash alternative for any prizes will be offered.</p>
        <h3>Privacy Policy</h3>
        <h4><strong>Policy for Email Usage</strong></h4>
        <p>Consent to receiving official communication from Brains@Play is granted by participating in or registering for the Brains and Games Competition BGC). Once collected, your Personally Identifiable Information may be used in a variety of including, but not limited to:</p>
        <ol>
            <li>Provide service communications such as confirmations, program registrations, and community service messages</li>
            <li>Respond to your emails or online requests for information</li>
            <li>Deliver and process surveys</li>
            <li>Personalize and improve the usability of the website</li>
            <li>Fulfill and/or deliver prizes from the BGC</li>
            <li>Tailor content, advertising and marketing to you</li>
            <li>Share with third parties as required by law</li>
        </ol>

        <h4><strong>Policy for Submission Usage</strong></h4>
        <p>By submitting your entry to the Competition, you give permission to Brains@Play to use the information provided by you in your entry and during your participation in the Competition for the purposes of administering and judging the Competition and any other purpose connected to the Competition. This information may be shared with the panel members and anyone involved in the Competition. Additionally, Brains@Play reserves the right to use the first names and ages of participants in any publicity both in paper and online.</p>
        <p>As participants in the competition, you are free at any time and until 10 days after the Competition submission deadline to refuse to participate, or withdraw your participation without any adverse consequences for you and without the need to justify your decision. In this case your personal data will be destroyed.</p>
        <h4><strong>GDPR Compliance</strong></h4>
        <p>Personal data—particularly full names and email addresses—are collected for the Brains and Games Competition (BGC) for the purpose of notifying participants of the status of their submission, as well as to properly attribute the owners of the submission. This data will be stored indefinitely and displayed on the Brains@Play website to maintain public attribution of their work.</p>
        <p>Brains@Play is compliant with all legal procedures in respect of personal data processing, as set out in the applicable European and national law, including the General Data Protection Regulation (EU/2016/679). Without prejudice to any exceptions, we would like to inform you that you have the right to access, the right of information, correction, update, blocking and/or erasure of your personal data in accordance with the aforementioned EU Regulation and applicable national laws. In addition, you have the right to file a complaint with the data protection Authority of your country.</p>
        <p>For queries related to, or requests to correct or delete your personal data, you may contact <a href="mailto:contact@brainsatplay.com" class="text">contact@brainsatplay.com</a>.</p>
        <h3>Brains@Play Research</h3>
        <p>Brains@Play will conduct studies and research related to the Brains and Games Competition (BGC). Brains@Play strives to understand and grow public engagement with neurotechnology. We aim to protect the rights, welfare, and well-being of subjects involved in research conducted by Brains@Play and our researchers adhere to strict legal and ethical protocols. Research is primarily conducted with surveys or observation. BGC participants may choose to opt-out of interviews and observation by contacting Brains@Play or by not taking the survey</p>
        <h3>Modification</h3>
        <p>Brains@Play reserves the change, modify or make exceptions to all policies at will. This includes the right to cancel the Competition at any time; to change the form and substance, dates for deadlines and events, locations or specification of the Competition and/or prizes; or not to award prizes.</p>

        <span id="code"></span>
        <h2>Code of Conduct</h2>
        <hr/>
        <i>Adapted from the Global Game Jam Code of Conduct</i>
        <h3>Purpose</h3>
        <p>The Brains and Games Competition (BGC) focuses on bringing communities together around collaboration, innovation, and experimentation as they envision a future of brain-responsive multiplayer games. ‬As‭ ‬such,‭ ‬we‭ ‬are‭ ‬committed‭ ‬to‭ ‬providing‭ ‬a‭ ‬friendly,‭ ‬safe,‭ ‬and‭ ‬welcoming‭ ‬environment‭ ‬for‭ ‬all,‭ ‬regardless‭ ‬of‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ ‬ability,‭ ‬appearance, ethnicity,‭ national origin, ‬citizenship, socioeconomic‭ ‬status,‭ ‬and‭ faith (‬or‭ ‬lack‭ ‬thereof‭)‬.</p>
        <p>This‭ ‬code‭ ‬of‭ ‬conduct‭ ‬outlines‭ ‬our‭ ‬guidelines ‬for‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ ‬our‭ ‬community,‭ ‬as‭ ‬well‭ ‬as‭ ‬the‭ ‬consequences‭ ‬for‭ ‬unacceptable‭ ‬behavior. We‭ ‬invite‭ ‬all‭ ‬those‭ ‬who‭ ‬participate‭ ‬in‭ BGC ‬to‭ ‬help‭ ‬us‭ maintain these guidelines and ‬create‭ ‬safe‭ ‬and‭ ‬positive‭ ‬experiences‭ ‬for‭ ‬everyone.</p>

        <h3>Appropriate Behavior</h3>
        <p>We wish for BGC participants to exercise‭ ‬consideration‭ ‬and‭ ‬respect‭ ‬in‭ their ‬speech‭ ‬and‭ ‬actions, attempt‭ ‬collaboration‭ ‬before‭ ‬conflict, and refrain‭ ‬from‭ ‬demeaning,‭ ‬discriminatory,‭ ‬or‭ ‬harassing‭ ‬behavior‭ ‬and‭ ‬speech. We also expect the same consideration and respect to be applied to games and content created for the BGC.</p>
        <p>Be‭ ‬mindful‭ ‬of‭ ‬your‭ ‬surroundings‭ ‬and‭ ‬of‭ ‬your‭ ‬fellow‭ ‬participants.‭ ‬Alert‭ ‬community‭ ‬leaders and site organizers immediately‭ ‬if‭ ‬you‭ ‬notice‭ ‬a‭ ‬dangerous‭ ‬situation,‭ ‬someone‭ ‬in‭ ‬distress,‭ ‬or‭ ‬violations‭ ‬of‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬even‭ ‬if‭ ‬they‭ ‬seem‭ ‬inconsequential.</p>

        <h3>Unacceptable Behavior</h3>
<p>Unacceptable‭ ‬behaviors‭ ‬include:‭ ‬intimidating,‭ ‬harassing,‭ ‬abusive,‭ ‬discriminatory,‭ ‬derogatory‭ ‬or‭ ‬demeaning‭ ‬speech‭ ‬or‭ actions‭ ‬by‭ ‬any‭ ‬participant‭ ‬in‭ ‬our‭ ‬site locations or‭ ‬online community,‭ ‬at‭ ‬all‭ ‬related‭ ‬events‭ ‬and‭ ‬in‭ ‬one-on-one‭ ‬communications‭ ‬carried‭ ‬out‭ ‬in‭ ‬the‭ ‬context‭ ‬of‭ ‬community‭ ‬business.‭ </p>
   <p>Harassment‭ ‬includes:‭ ‬harmful‭ ‬or‭ ‬prejudicial‭ ‬verbal‭ ‬or‭ ‬written‭ ‬comments‭ ‬related‭ ‬to‭ ‬gender,‭ ‬sexual‭ ‬orientation,‭ age, ‬ability,‭ ‬appearance, ethnicity,‭ national origin, ‬citizenship, socioeconomic‭ ‬status,‭ ‬or‭ ‬religion‭; ‬deliberate‭ ‬intimidation,‭ ‬stalking‭ ‬or‭ ‬following‭; ‬harassing‭ ‬photography‭ ‬or‭ ‬recording‭; ‬sustained‭ ‬disruption‭ ‬of‭ ‬talks‭ ‬or‭ ‬other‭ ‬events‭; ‬inappropriate‭ ‬physical‭ ‬contact; ‬and‭ ‬unwelcome‭ ‬sexual‭ ‬attention.
   </p>
        <h3>Consequences of Unacceptable Behavior</h3>
        <p>Anyone‭ ‬asked‭ ‬to‭ ‬stop‭ ‬unacceptable‭ ‬behavior‭ ‬is‭ ‬expected‭ ‬to‭ ‬comply‭ ‬immediately.</p>
<p>If‭ ‬a‭ ‬community‭ ‬member‭ ‬engages‭ ‬in‭ ‬unacceptable‭ ‬behavior,‭ Brains@Play‭ ‬may‭ ‬take‭ action‭ to stop the unacceptable behavior,‭ ‬up‭ ‬to‭ ‬and‭ ‬including‭ ‬a‭ ‬temporary‭ ‬ban‭ ‬or‭ ‬permanent‭ ‬expulsion‭ ‬from‭ ‬the‭ Brains@Play ‬community‭ ‬without‭ ‬warning‭ (‬and‭ ‬without‭ ‬refund‭ ‬in‭ ‬the‭ ‬case‭ ‬of‭ ‬a‭ ‬paid‭ ‬event‭)‬.</p>

        <h3>If You Witness or Are Subject to Unacceptable Behavior</h3>
<p>If‭ ‬you‭ ‬are‭ ‬subject‭ ‬to‭ ‬or‭ ‬witness‭ ‬unacceptable‭ ‬behavior,‭ ‬or‭ ‬have‭ ‬any‭ ‬other‭ ‬concerns,‭ ‬please‭ report this with an email to <a href="mailto:contact@brainsatplay.com" class="text">contact@brainsatplay.com</a>.
</p>
        <h3>Addressing Grievances</h3>
<p>If‭ ‬you‭ ‬feel‭ ‬you‭ ‬have‭ ‬been‭ ‬falsely‭ ‬or‭ ‬unfairly‭ ‬accused‭ ‬of‭ ‬violating‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct,‭ ‬you‭ ‬should‭ ‬notify‭ Brains@Play ‬with‭ ‬a‭ ‬concise‭ ‬description‭ ‬of‭ ‬your‭ ‬grievance.
</p>

        <h3>Scope</h3>
        <p>We‭ wish for‭ ‬all‭ ‬community‭ ‬participants‭ (‬contributors,‭ ‬paid‭ ‬or‭ ‬otherwise‭; ‬sponsors‭; ‬and‭ ‬other‭ ‬guests‭) ‬to‭ ‬abide‭ ‬by‭ ‬this‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬for all Brains@Play events‭—‬online‭ ‬and‭ ‬in-person‭—‬as‭ ‬well‭ ‬as‭ ‬in‭ ‬all‭ ‬one-on-one‭ ‬or group communications‭ ‬pertaining‭ ‬to‭ ‬community‭ ‬business.</p>

        <h3>License and Attribution</h3>
        <p>This‭ ‬Code‭ ‬of‭ ‬Conduct‭ ‬is‭ ‬distributed‭ ‬under‭ ‬a‭ ‬Creative‭ ‬Commons‭ ‬Attribution-ShareAlike‭ ‬license. The original is available at <a href="https://globalgamejam.org/inclusiveness-policy-and-code-conduct" class="text">https://globalgamejam.org/inclusiveness-policy-and-code-conduct</a>.</p>
    </section>

    <!--Footer-->
        {% include footer.html %}

</div>
</body>
</html>
