a {
    text-decoration: none;
    color: #acd1f3;
    transition: 0.5s;
}

.blog-info {
    width: 100%;
    font-size: 65%;
    color: white;
    display: flex;
    padding: 0px 25px;
}

.blog-info > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid black; */
}


.blog-info > div > div {
    /* height: 100%; */
    padding: 10px 25px 10px 5px; 
}

.blog-info > div > div:last-of-type {
    background: black;
}

.blog-info > div > div:first-of-type {
    padding: 10px;
    font-size: 80%;
}

.blog-info > div > div:first-of-type > div{
    border-radius: 5px;
    padding: 5px 15px;
    background: #1f1f1f;
}