---
---
<!doctype html>
<html lang=en>
<head>
    {% include meta.html %}
    <link rel=icon href=/assets/favicons/favicon.ico>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/blog/blog.css"/>
    <title>Brains@Play | {{ page.title }}</title>
</head>
<body>
<!-- <div id=app> -->
    <!--Navbar-->
    {% include nav.html %}

    <!--Header-->
    {% if page.image %}
        <div class="header new" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url({{ page.image }})">
    {% else %}
        <div class="header new" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/assets/images/posts/placeholder-min.jpg)">
    {% endif %}
        <h2 style="margin: 0px; margin-top: 5px;">{{ page.title }}</h2>
        <h5 style="margin: 0px; margin-top: 10px; width: 100%; text-align: left;">{{ page.subtitle }}</h5>
    </div>

    <div class="blog-info">
        <div>
            <div><div>Author</div></div>
            <div><div>{{page.author}}</div></div>
        </div>

        <div>
            <div><div>Date Posted</div></div>
            <div><div>{{ page.date | date: "%B %-d, %Y" }}</div></div>
        </div>
    </div>

    <!--Content-->
    <section>
        {{ content }}
        <br/>
    </section>

    <!--Footer-->
    {% include footer.html %}
<!-- </div> -->
</body>
</html>
